# Python: Typy numeryczne - zadania

## Type Int Time

1. Oblicz ile sekund to pięć minut
1. Oblicz ile sekund to jedna godzina
1. Oblicz ile sekund to dzień pracy (8 godzin)
1. Oblicz ile godzin to miesiąc pracy (22 dni pracy)
1. Oblicz ile minut to tydzień pracy (5 dni pracy)

Podpowiedź:
* 1 h = 60 min
* 1 min = 60 s

In [8]:
SECOND = 1
MINUTE = 60 * SECOND
HOUR = 60 * MINUTE

MINUTES_5 = 5 * MINUTE
print(MINUTES_5)

HOUR_IN_SEC = 60 * MINUTE
print(HOUR_IN_SEC)

work_day = 8 * HOUR_IN_SEC
print(work_day)

work_month = 22 * 8
print(work_month)

work_week_in_min = 5 * 8 * HOUR
print(work_week_in_min)

300
3600
28800
176
144000

## Type Int Bytes

1. Wielkość pliku to jeden megabajt
1. Oblicz wielkość w bitach
1. Oblicz wielkość w megabitach

Podpowiedź:
* 1 Kb = 1024 b
* 1 Mb = 1024 Kb
* 1 B = 8 b
* 1 KB = 1024 B
* 1 MB = 1024 KB

In [10]:
plik_B = 1024 * 1024 * 8
plik_Mb = 1024 * 1024 * 8 * 1024

## Type Int Bandwidth
1. Mając łącze internetowe "do 100 Mb/s"
1. Ile zajmie ściągnięcie pliku 100 MB?

Podpowiedź:
* 1 Kb = 1024 b
* 1 Mb = 1024 Kb
* 1 B = 8 b
* 1 KB = 1024 B
* 1 MB = 1024 KB

## Type Int Temperature

1. Jeden Kelwin to jeden stopień Celsiusza (1K = 1°C)
1. Zero Kelwina (bezwzględne) to -273.15 stopni Celsiusza
1. W zadaniu przyjmij równe -273°C (0K = -273°C)
1. Ile Kelwinów, a ile stopni Celsiusza wynoszą średnie temperatury powierzchni:

    * Księżyca w dzień: 453 K
    * Księżyca w nocy: 93 K
    * Mars najwyższa: 20 °C
    * Mars najniższa: -153 °C
    * Mars średnia: −63 °C

Type Float Tax
--------------
1. Cena usługi wynosi 100 PLN netto
1. Usługa objęta jest 23% stawką VAT
1. Oblicz wartości podatku oraz cenę brutto

Output:

    Result [PLN]: net=100 tax=23.0 gross=123.0

## Type Float Altitude
1. Wysokość lotu samolotem wynosi 10 000 ft
1. Dane używają systemu imperialnego (US)
1. Przelicz je na system metryczny (układ SI)
1. Wynik zaokrąglij do jednego miejsca po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:

    Plane altitude: 3048.0 m

Podpowiedź:
* 1 ft = 0.3048 m

### Type Float Volume

1. Objętość butelki wynosi 20 Fl Oz
1. Dane używają systemu imperialnego (US)
1. Przelicz je na system metryczny (układ SI)
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:

    Bottle volume: 0.5914688 l

Podpowiedź:

    * 1 Fl Oz = 0.02957344 l

### Type Float Distance

1. Użyj kodu z sekcji "Input" (patrz poniżej)
1. Przekonwertuj jednostki
1. Zamiast ``...`` podstaw wyliczone i przekonwertowane wartości
1. Zwróć uwagę na ilość miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:
```
m = 1337

print(f'Meters: {...}')
print(f'Kilometers: {...}')
print(f'Miles: {...}')
print(f'Nautical Miles: {...}')
print(f'All: km: {...}, mi: {...}, nm: {...}')
```

Output:
```
Meters: 1337
Kilometers: 1.337
Miles: 0.83
Nautical Miles: 0.722
m: 1337, km: 1, mi: 0.8, nm: 0.72
```
Podpowiedź:
* 1 km = 1000 m
* 1 mile = 1609.344 m
* 1 nautical mile = 1852 m

### Type Float Velocity

1. Ograniczenie prędkości wynosi 75 MPH
1. Dane używają systemu imperialnego (US)
1. Przelicz je na system metryczny (układ SI)
1. Ograniczenie prędkości zaokrąglij do jednego miejsca po przecinku

### Type Float Pressure

1. Ciśnienie operacyjne skafandra kosmicznego EMU (NASA): 4.3 PSI
1. Ciśnienie operacyjne skafandra kosmicznego ORLAN (Roscosmos): 400 hPa
1. Oblicz ciśnienie operacyjne skafandra EMU w kPa
1. Oblicz ciśnienie operacyjne skafandra Orlan w PSI
1. Wypisz wszystkie wyniki w kPa oraz PSI zaokrąglając do dwóch miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
EMU operating pressure: 29.65 kPa, 4.30 psi
Orlan operating pressure: 40.00 kPa, 5.80 psi
```

Podpowiedź:
    * 1 hPa = 100 Pa
    * 1 kPa = 1000 Pa
    * 1 psi = 6894.757 Pa

### Type Float Percent

1. International Standard Atmosphere (ISA) na poziomie morza wynosi 1013.25 hPa
1. Oblicz ciśnienie parcjalne tlenu na poziomie morza
1. Wypisz ISA oraz ciśnienie parcjalne O2 wyniki w kPa zaokrąglając do dwóch miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
International Standard Atmosphere: 101.33 kPa
O2 partial pressure at sea level: 21.22 kPa
```

Podpowiedź:
* 1 hPa = 100 Pa
* 1 kPa = 1000 Pa
* 1 ata = 1013.25 hPa (ISA - International Standard Atmosphere)
* Skład atmosfery:

    * Azot 78.084%
    * Tlen 20.946%
    * Argon 0.9340%
    * Dwutlenek węgla 0.0407%
    * Pozostałe 0.001%

### Type Float Gradient

1. Na jakiej wysokości nad poziomem morza panuje ciśnienie równe ciśnieniu parcjalnemu tlenu?
1. Wypisz rezultat w metrach zaokrąglając do dwóch miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
Oxygen starvation altitude: 7088.63 m
```

Podpowiedź:
* gradient ciśnienia (maleje) = 11.3 Pa / 1 m
* 1 hPa = 100 Pa
* 1 kPa = 1000 Pa
* 1 ata = 1013.25 hPa (ISA - International Standard Atmosphere)
* Skład atmosfery:

    * Azot 78.084%
    * Tlen 20.946%
    * Argon 0.9340%
    * Dwutlenek węgla 0.0407%
    * Pozostałe 0.001%