# Python: Typy numeryczne - zadania

## Type Int Time

1. Oblicz ile sekund to pięć minut
1. Oblicz ile sekund to jedna godzina
1. Oblicz ile sekund to dzień pracy (8 godzin)
1. Oblicz ile godzin to miesiąc pracy (22 dni pracy)
1. Oblicz ile minut to tydzień pracy (5 dni pracy)

Podpowiedź:
* 1 h = 60 min
* 1 min = 60 s

In [3]:
SECOND = 1
MINUTE = 60 * SECOND
HOUR = 60 * MINUTE

five = 5*MINUTE / SECOND
hour = 1*HOUR / SECOND
workday = 8*HOUR / SECOND
workmonth = 22*workday / HOUR
workweek = 5*workday / MINUTE

print(f'5 min to {five} sek.')
print(f'1 godzina to {hour} sek.')
print(f'Dzień pracy to {workday} sek.')
print(f'Miesiąc pracy to {workmonth} godz.')
print(f'Tydzień pracy to {workweek} min.')

5 min to 300.0 sek.
1 godzina to 3600.0 sek.
Dzień pracy to 28800.0 sek.
Miesiąc pracy to 176.0 godz.
Tydzień pracy to 2400.0 min.

## Type Int Bytes

1. Wielkość pliku to jeden megabajt
1. Oblicz wielkość w bitach
1. Oblicz wielkość w megabitach

Podpowiedź:
* 1 Kb = 1024 b
* 1 Mb = 1024 Kb
* 1 B = 8 b
* 1 KB = 1024 B
* 1 MB = 1024 KB

In [7]:
b = 1
Kb = 1024 * b
Mb = 1024 * Kb

B = 8 * b
KB = 1024 * B
MB = 1024 * KB


plik = 1 * MB
plik_b = plik / b
plik_Mb = plik / Mb

print(f'Plik to {plik_b} bitów')
print(f'Plik to {plik_Mb} Mega bitów')

Plik to 8388608.0 bitów
Plik to 8.0 Mega bitów

## Type Int Bandwidth
1. Mając łącze internetowe "do 100 Mb/s"
1. Ile zajmie ściągnięcie pliku 100 MB?

Podpowiedź:
* 1 Kb = 1024 b
* 1 Mb = 1024 Kb
* 1 B = 8 b
* 1 KB = 1024 B
* 1 MB = 1024 KB

In [8]:
b = 1
Kb = 1024 * b
Mb = 1024 * Kb

B = 8 * b
KB = 1024 * B
MB = 1024 * KB


SEC = 1

predkosc = 100 * Mb / SEC
plik = 100 * MB

czas = plik / predkosc

print(f'Czas ściągania to {czas} sek.')

Czas ściągania to 8.0 sek.

## Type Int Temperature

1. Jeden Kelwin to jeden stopień Celsiusza (1K = 1°C)
1. Zero Kelwina (bezwzględne) to -273.15 stopni Celsiusza
1. W zadaniu przyjmij równe -273°C (0K = -273°C)
1. Ile Kelwinów, a ile stopni Celsiusza wynoszą średnie temperatury powierzchni:

    * Księżyca w dzień: 453 K
    * Księżyca w nocy: 93 K
    * Mars najwyższa: 20 °C
    * Mars najniższa: -153 °C
    * Mars średnia: −63 °C

In [12]:
K = -273
C = +273

ksiezyc_dzien = 453 + K
ksiezyc_noc = 93 + K

mars_najwyzsza = 20 + C
mars_najnizsza = -153 + C
mars_srednia = -63 + C

print(f'Księżyc Dzień {ksiezyc_dzien} °C')
print(f'Księżyc Noc {ksiezyc_noc} °C')
print(f'Mars Najniższa {mars_najnizsza} K')
print(f'Mars Najwyższa {mars_najwyzsza} K')
print(f'Mars Średnia {mars_srednia} K')

Księżyc Dzień 180 °C
Księżyc Noc -180 °C
Mars Najniższa 120 K
Mars Najwyższa 293 K
Mars Średnia 210 K

Type Float Tax
--------------
1. Cena usługi wynosi 100 PLN netto
1. Usługa objęta jest 23% stawką VAT
1. Oblicz wartości podatku oraz cenę brutto

Output:

    Result [PLN]: net=100 tax=23.0 gross=123.0

In [15]:
PLN = 1

cena = 100 * PLN
vat = 23 / 100  # procent

net = cena
tax = cena * vat
gross = cena * (1+vat)

print(f'Result [PLN]: {net=} {tax=} {gross=}')

Result [PLN]: net=100 tax=23.0 gross=123.0

## Type Float Altitude
1. Wysokość lotu samolotem wynosi 10 000 ft
1. Dane używają systemu imperialnego (US)
1. Przelicz je na system metryczny (układ SI)
1. Wynik zaokrąglij do jednego miejsca po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:

    Plane altitude: 3048.0 m

Podpowiedź:
* 1 ft = 0.3048 m

In [19]:
m = 1
ft = 0.3048 * m

altitude = 10000 * ft

print(f'Plane altitude {altitude} m')

Plane altitude 3048.0 m

### Type Float Volume

1. Objętość butelki wynosi 20 Fl Oz
1. Dane używają systemu imperialnego (US)
1. Przelicz je na system metryczny (układ SI)
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:

    Bottle volume: 0.5914688 l

Podpowiedź:

    * 1 Fl Oz = 0.02957344 l

In [20]:
l = 1
fl_oz = 0.02957344 * l

volume = 20 * fl_oz

print(f'Bottle volume: {volume} l')

Bottle volume: 0.5914688 l

### Type Float Distance

1. Użyj kodu z sekcji "Input" (patrz poniżej)
1. Przekonwertuj jednostki
1. Zamiast ``...`` podstaw wyliczone i przekonwertowane wartości
1. Zwróć uwagę na ilość miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:
```
m = 1337

print(f'Meters: {...}')
print(f'Kilometers: {...}')
print(f'Miles: {...}')
print(f'Nautical Miles: {...}')
print(f'All: km: {...}, mi: {...}, nm: {...}')
```

Output:
```
Meters: 1337
Kilometers: 1.337
Miles: 0.83
Nautical Miles: 0.722
m: 1337, km: 1, mi: 0.8, nm: 0.72
```
Podpowiedź:
* 1 km = 1000 m
* 1 mile = 1609.344 m
* 1 nautical mile = 1852 m

In [28]:
m = 1337
km = m / 1000
mi = m / 1609.344
nm = m / 1852

print(f'Meters: {m}')
print(f'Kilometers: {km}')
print(f'Miles: {mi:.2f}')
print(f'Nautical Miles: {nm:.3f}')
print(f'All: km: {km:.0f}, mi: {mi:.1f}, nm: {nm:.2f}')

Meters: 1337
Kilometers: 1.337
Miles: 0.83
Nautical Miles: 0.722
All: km: 1, mi: 0.8, nm: 0.72

### Type Float Velocity

1. Ograniczenie prędkości wynosi 75 MPH
1. Dane używają systemu imperialnego (US)
1. Przelicz je na system metryczny (układ SI)
1. Ograniczenie prędkości zaokrąglij do jednego miejsca po przecinku

In [33]:
SECOND = 1
MINUTE = 60 * SECOND
HOUR = 60 * MINUTE

m = 1
km = 1000 * m
mi = 1609.344 * m

mph = mi / HOUR
kph = km / HOUR

ograniczenie = 75 * mph

print(f'Oganiczenie to {ograniczenie/kph:.1f} km/h')

Oganiczenie to 120.7 km/h

### Type Float Pressure

1. Ciśnienie operacyjne skafandra kosmicznego EMU (NASA): 4.3 PSI
1. Ciśnienie operacyjne skafandra kosmicznego ORLAN (Roscosmos): 400 hPa
1. Oblicz ciśnienie operacyjne skafandra EMU w kPa
1. Oblicz ciśnienie operacyjne skafandra Orlan w PSI
1. Wypisz wszystkie wyniki w kPa oraz PSI zaokrąglając do dwóch miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
EMU operating pressure: 29.65 kPa, 4.30 psi
Orlan operating pressure: 40.00 kPa, 5.80 psi
```

Podpowiedź:
    * 1 hPa = 100 Pa
    * 1 kPa = 1000 Pa
    * 1 psi = 6894.757 Pa

In [35]:
Pa = 1
hPa = 100 * Pa
kPa = 1000 * Pa
psi = 6894.757 * Pa

emu = 4.3 * psi
orlan = 400 * hPa

print(f'EMU operating pressure: {emu/kPa:.2f} kPa, {emu/psi:.2f} psi')
print(f'Orlan operating pressure: {orlan/kPa:.2f} kPa, {orlan/psi:.2f} psi')

EMU operating pressure: 29.65 kPa, 4.30 psi
Orlan operating pressure: 40.00 kPa, 5.80 psi

### Type Float Percent

1. International Standard Atmosphere (ISA) na poziomie morza wynosi 1013.25 hPa
1. Oblicz ciśnienie parcjalne tlenu na poziomie morza
1. Wypisz ISA oraz ciśnienie parcjalne O2 wyniki w kPa zaokrąglając do dwóch miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
International Standard Atmosphere: 101.33 kPa
O2 partial pressure at sea level: 21.22 kPa
```

Podpowiedź:
* 1 hPa = 100 Pa
* 1 kPa = 1000 Pa
* 1 ata = 1013.25 hPa (ISA - International Standard Atmosphere)
* Skład atmosfery:

    * Azot 78.084%
    * Tlen 20.946%
    * Argon 0.9340%
    * Dwutlenek węgla 0.0407%
    * Pozostałe 0.001%

In [37]:
Pa = 1
hPa = 100 * Pa
kPa = 1000 * Pa
ata = 1013.25 * hPa

o2 = 20.946/100 * ata


print(f'International Standard Atmosphere: {ata/kPa:.2f} kPa')
print(f'O2 partial pressure at sea level: {o2/kPa:.2f} kPa')

International Standard Atmosphere: 101.33 kPa
O2 partial pressure at sea level: 21.22 kPa

### Type Float Gradient

1. Na jakiej wysokości nad poziomem morza panuje ciśnienie równe ciśnieniu parcjalnemu tlenu?
1. Wypisz rezultat w metrach zaokrąglając do dwóch miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
Oxygen starvation altitude: 7088.63 m
```

Podpowiedź:
* gradient ciśnienia (maleje) = 11.3 Pa / 1 m
* 1 hPa = 100 Pa
* 1 kPa = 1000 Pa
* 1 ata = 1013.25 hPa (ISA - International Standard Atmosphere)
* Skład atmosfery:

    * Azot 78.084%
    * Tlen 20.946%
    * Argon 0.9340%
    * Dwutlenek węgla 0.0407%
    * Pozostałe 0.001%

In [39]:
m = 1
Pa = 1
hPa = 100 * Pa
kPa = 1000 * Pa
ata = 1013.25 * hPa

o2 = 20.946/100 * ata
gradient = 11.3 * Pa / m

wysokosc = (ata - o2) / gradient

print(f'Oxygen starvation altitude: {wysokosc:.2f} m')

Oxygen starvation altitude: 7088.63 m