# Python: Sekwencje

* `list()` - lista
* `tuple()` - tupla, krotka
* `set()` - set, zbiór
* `frozenset()` - zbiór stały

In [253]:
from pprint import pprint
import numpy as np
import pandas as pd

## `list` - Lista

* Mogą przechowywać elementy dowolnych typów
* Mutowalna - można dodawać, edytować i usuwać elenenty
* Przecinek po ostatnim elemencie jednoelementowej listy jest opcjonalny
* Nawiasy są wymagane

### Definicja

In [ ]:
data = []
data = list()

data = [1]
data = [1, 2, 3]
data = [1.1, 2.2, 3.3]
data = [1, 2.2, 'abcdef']

### Konwersja

In [1]:
data = 'hello'
list(data)

['h', 'e', 'l', 'l', 'o']

In [2]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [3]:
list([1,2,3])

[1, 2, 3]

In [4]:
list((1,2,3))

[1, 2, 3]

In [5]:
list({1,2,3})

[1, 2, 3]

### Wybieranie elementów

In [11]:
data = ['a', 'b', 'c', 'd']

data[0]
data[1]
data[2]
data[3]

'd'

### Ustawianie elementów

In [14]:
data = ['a', 'b', 'c', 'd']

data[3] = 'x'
data[1] = 'y'
data[2] = 1.1
data

['a', 'y', 1.1, 'x']

### Usuwanie elementów

In [16]:
data = ['a', 'b', 'c', 'd']

del data[2]
data

['a', 'b', 'd']

In [21]:
data = ['a', 'b', 'c', 'd']

result = data.pop()
data
result

'd'

### Dodawanie elementów (append, extend)

In [23]:
data = ['a', 'b', 'c', 'd']

data.append('x')
data

['a', 'b', 'c', 'd', 'x']

In [25]:
data = ['a', 'b', 'c', 'd']

data.extend('x')
data

['a', 'b', 'c', 'd', 'x']

In [29]:
data = ['a', 'b', 'c', 'd']
data = data + ['x']

data

['a', 'b', 'c', 'd', 'x']

### Wstawianie elementów

In [31]:
data = ['a', 'b', 'c', 'd']

data.insert(0, 'x')
data

['x', 'a', 'b', 'c', 'd']

In [33]:
data = ['a', 'b', 'c', 'd', 'd']

data.index('d')

3

### Sortowanie

In [36]:
data = [3, 1, 2]
result = sorted(data)

print(f'{result=}')
print(f'{data=}')

result=[1, 2, 3]
data=[3, 1, 2]

In [39]:
data = [3, 1, 2]
data.sort()

print(f'{data=}')

data=[1, 2, 3]

### Łańcuchy wywołań (chaining)

In [41]:
data = [3, 1, 2]
data.sort()
data.append(4)

data

[1, 2, 3, 4]

In [44]:
data = [3, 1, 2]
data.sort().append(4)

data

AttributeError: 'NoneType' object has no attribute 'append'

### Wbudowane funkcje

* `min()` - wartość minimalna
* `max()` - wartość maksymalna
* `sum()` - suma elementów
* `len()` - liczba elementów
* `any()` - czy są jakieś wartości `True`
* `all()` - czy wszystkie wartości są `True`

In [54]:
data = [0, 3, 1, 2]

min(data)
max(data)
sum(data)
len(data)
any(data)
all(data)

False

In [57]:
data = [True, False, True]

all(data)
any(data)

True

## `tuple` - Krotka

* Mogą przechowywać elementy dowolnych typów
* Są niemutowalne - nie można dodawać, edytować i usuwać elenentów
* Przecinek po ostatnim elemencie jednoelementowej krotki jest wymagany
* Nawiasy są opcjonalne

### Definicja

In [59]:
data = ()
data = tuple()

data = 1, 2
data = (1, 2)

data = 1,
data = (1,)

### Konwersja

In [60]:
tuple('abcd')

('a', 'b', 'c', 'd')

In [61]:
tuple([1,2,3])

(1, 2, 3)

In [63]:
tuple((1,2,3))

(1, 2, 3)

In [64]:
tuple({1,2,3})

(1, 2, 3)

### Wyciąganie elementów

In [68]:
data = ('a', 'b', 'c', 'd')

data[0]
data[1]
data[2]
data[3]

'd'

### Tuple kontra Int, Float, Str

In [69]:
data = (1,)
type(data)

tuple

In [77]:
data = (1.)
type(data)

float

In [70]:
data = (1,2)
type(data)

tuple

In [71]:
data = (1.2)
type(data)

float

In [72]:
data = 1.2
type(data)

float

In [73]:
data = 1,2
type(data)

tuple

In [74]:
data = 1,
type(data)

tuple

In [75]:
data = 1
type(data)

int

In [76]:
data = 1.
type(data)

float

In [ ]:
type(1.2,)       # <class 'tuple'>
type(1,2.3)      # <class 'tuple'>

type(1.)         # <class 'float'>
type(1,)         # <class 'tuple'>
type(1.,)        # <class 'tuple'>
type(.2)         # <class 'float'>
type(.2,)        # <class 'tuple'>
type(1.2)        # <class 'float'>
type(1)          # <class 'int'>

type(1.,1.)      # <class 'tuple'>
type(.2,.2)      # <class 'tuple'>
type(1.,.2)      # <class 'tuple'>

type('foo')      # <class 'str'>
type('foo',)     # <class 'tuple'>
type('foo'.)     # SyntaxError: invalid syntax

In [78]:
data = 'Jan Twardowski'
type(data)

str

In [79]:
data = 'Jan Twardowski',
type(data)

tuple

In [80]:
data = 'Jan Twardowski,'
type(data)

str

In [81]:
administrators = 'jose', 'jan', 'mark'

type(administrators)

tuple

In [82]:
administrators = 'jose', 'jan'

type(administrators)

tuple

In [83]:
administrators = 'jose'

type(administrators)

str

### Tuple kontra List

* tuple i list:

    * uporządkowane
    * można wybierać i wycinać elementy
    * elementy mogą się duplikować
    * elementy mogą być dowolnych typów

* tuple:

    * niemutowalne
    * jeden spójny blok danych w pamięci

* list:

    * mutowalne
    * zaimplementowane jako lista pointerów
    * obiekty są rozrzucone w pamięci

In [86]:
a = 'Watney'

hex(id(a))

'0x1069c2e30'

## `set` - Zbiór

* Przechowuje tylko unikalne wartości
* Mogą przechowywać elementy dowolnych typów (haszowalne)
* Mutowalna - można dodawać, edytować i usuwać elenenty
* Przecinek po ostatnim elemencie jednoelementowego zebioru jest opcjonalny
* Nawiasy są wymagane

### Definicja

In [88]:
data = set()

data = {1, 2, 3}
data = {1}

In [90]:
data = {1,1,2}
data

{1, 2}

In [92]:
data = {1, 1.0}
data

{1}

In [93]:
data = {1.0, 1}
data

{1.0}

In [95]:
data = {1,2,3, (1,2,3)}
data

{(1, 2, 3), 1, 2, 3}

In [99]:
data = {1,2,3, [1,2,3]}
data

TypeError: unhashable type: 'list'

### Konwersja

In [100]:
set('hello')

{'e', 'h', 'l', 'o'}

In [101]:
set([1,2,3])

{1, 2, 3}

In [102]:
set((1,2,3))

{1, 2, 3}

In [103]:
set({1,2,3})

{1, 2, 3}

### Deduplikacja

In [105]:
data = ['Twardowski', 'Watney', 'Lewis', 'Twardowski', 'Watney']

set(data)

{'Lewis', 'Twardowski', 'Watney'}

### Dodawanie jednego elementu

In [108]:
data = {1,2,3}

data.add(4)
data.add(3)
data

{1, 2, 3, 4}

### Dodawanie wielu elementów

In [112]:
data = {1, 2, 3}

data.update([3,[1,2,3],5])
data

TypeError: unhashable type: 'list'

### Wyciąganie ostatniego

In [117]:
data = {1, 2, 3}
data

{1, 2, 3}

### Operacje na zbiorach

* `set.isdisjoint()` - Rozłączny - brak wspólnych elementów
* `set.issubset()` - Podzbiór 
* `set.issuperset()` - Nadzbiór
* `set.union()` - Unia - suma zbiorów
* `set.difference()` - Różnice - Elementy z A nie będące w B
* `set.symmetric_difference()` - Symetryczne różnice - Poza wspólnymi
* `set.intersection()` - Przecięcie - Wspólne elementy

In [142]:
{1,2} != {2,3,4}
{1,2} == {2,3,4}

False

In [119]:
data = {1, 2}

data.isdisjoint({2,3,4})

False

In [121]:
data = {1, 2}
data.issubset({1,3})

False

In [143]:
{1,2} <= {1,2}

True

In [144]:
{1,2} < {1,2}

False

In [126]:
data = {1, 2}
data.issuperset({1,2})

True

In [138]:
{1,2} >= {1,2}

True

In [140]:
{1,2,3} > {1,2}

True

In [127]:
data = {1,2}
data.union({3,4})

{1, 2, 3, 4}

In [136]:
{1,2} | {3,4}

{1, 2, 3, 4}

In [129]:
data = {1,2}
data.difference({2,3})

{1}

In [134]:
{1,2} - {2,3}

{1}

In [130]:
data = {1,2}
data.symmetric_difference({2,3})

{1, 3}

In [133]:
{1,2} ^ {2,3}

{1, 3}

In [131]:
data = {1,2}
data.intersection({2,3})

{2}

In [132]:
{1,2} & {2,3}

{2}

## Zagnieżdżone sekwencje

### Lista tupli

In [148]:
data = [
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
]

data[2][4]

'virginica'

In [149]:
data = [
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
]

row = (4.9, 2.5, 4.5, 1.7, 'virginica')

data.append(row)
data

[(4.7, 3.2, 1.3, 0.2, 'setosa'),
 (7.0, 3.2, 4.7, 1.4, 'versicolor'),
 (7.6, 3.0, 6.6, 2.1, 'virginica'),
 (4.9, 2.5, 4.5, 1.7, 'virginica')]

In [150]:
data = [
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
]

row = (4.9, 2.5, 4.5, 1.7, 'virginica')

data.extend(row)
data

[(4.7, 3.2, 1.3, 0.2, 'setosa'),
 (7.0, 3.2, 4.7, 1.4, 'versicolor'),
 (7.6, 3.0, 6.6, 2.1, 'virginica'),
 4.9,
 2.5,
 4.5,
 1.7,
 'virginica']

In [154]:
data = [
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
]

len(data[0])

5

### Lista list

In [161]:
a = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]



a[0][2]
a[1][1]

5

### Różne typy

In [171]:
data = [
    (1, 2, 3),
    ['a', 1, False],
    {1, 'hello'},
]

data[1][1]

1

## Wybieranie elementów

* Indeks musi być `int` (dodatni, ujemny lub zero)
* Indeks musi być mniejszy lub równy długości sekwencji
* Ujemne indeksy zaczynają od prawej strony i idą do lewej

### Dodatnie indeksy

In [179]:
data = ['a', 'b', 'c', 'd', 'e']

data[0]
data[1]
data[2]

'c'

### Ujemne indeksy

In [180]:
data = ['a', 'b', 'c', 'd', 'e']

data[-1]
data[-2]
data[-4]
data[-0]

'a'

### Indeksy poza zakresem

In [183]:
data = ['a', 'b', 'c', 'd', 'e']

# data[100]
data[-100]

IndexError: list index out of range

### Str, lista, tuple, set

In [186]:
data =  ['a', 'b', 'c', 'd', 'e']

data[0]
data[-2]

'd'

In [187]:
data =  ('a', 'b', 'c', 'd', 'e')

data[0]
data[-2]

'd'

In [189]:
data =  'abcde'

data[0]
data[-2]

'a'

In [192]:
data = {'a', 'b', 'c', 'd', 'e'}

data[0]
data[-1]

TypeError: 'set' object is not subscriptable

## Wycinanie elementów

* Argumenty wycinania muszą być `int` (dodatni, ujemny lub zero)
* Ujemne wycinanie zaczyna od prawej strony i idzie do lewej

### Str, lista, tuple, set

In [195]:
data =  ['a', 'b', 'c', 'd', 'e']

data[0:3]
data[2:4]

['c', 'd']

In [197]:
data =  ('a', 'b', 'c', 'd', 'e')

data[0:3]
data[2:4]

('c', 'd')

In [198]:
data =  'abcde'

data[0:3]
data[2:4]

'cd'

In [196]:
data =  {'a', 'b', 'c', 'd', 'e'}

data[0:3]
data[2:4]

TypeError: 'set' object is not subscriptable

### Wycinanie w przód

In [200]:
data =  ['a', 'b', 'c', 'd', 'e']

data[0:3]
data[2:4]

data[:3]
data[3:]

['d', 'e']

### Wycinanie w tył

In [204]:
data =  ['a', 'b', 'c', 'd', 'e']

data[-3:-1]
data[-3:]
data[:-3]

['a', 'b']

### Skok

In [214]:
data =  ['a', 'b', 'c', 'd', 'e']

data[0:5:2]
data[:5:2]
data[::2]

data[::-2]

['e', 'c', 'a']

### Wycinanie Poza zakresem

In [216]:
data =  ['a', 'b', 'c', 'd', 'e']

data[:100]
data[100:]

[]

### Arytmetyka wycinań

In [221]:
data =  ['a', 'b', 'c', 'd', 'e']

first = data.index('b')
last = 4

data[first:last]

['b', 'c', 'd']

In [220]:
data.index('b')

1

In [232]:
text = 'We choose to go to the Moon!'
remove = 'Moon'


start = text.find(remove)
end = start + len(remove)

result = text[:start] + text[end:]

### Zagnieżdżone sekwencje

In [241]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data[::2][1][2]

9

### Wycinanie wszystkich

In [247]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]


data[:][2]

[7, 8, 9]

### Przykład

In [ ]:
data = np.array([[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]])

data[:, 1]
# array([2, 5, 8])

data[1, :]
# array([4, 5, 6])

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]})

df.loc[:, ('A','B')]
#    A  B
# 0  1  4
# 1  2  5
# 2  3  6

df.loc[1, :]
# A    2
# B    5
# C    8
# Name: 1, dtype: int64

In [262]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
]


DATA[1::2]

[(5.8, 2.7, 5.1, 1.9, 'virginica'),
 (5.7, 2.8, 4.1, 1.3, 'versicolor'),
 (6.4, 3.2, 4.5, 1.5, 'versicolor')]

## Rozpakowywanie

### Co to i po co to?

In [273]:
a, b, c = 1, 2, 3


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=1
b=2
c=3

### Błędy

In [274]:
a, b, c = 1, 2, 3, 4

ValueError: too many values to unpack (expected 3)

In [275]:
a, b, c, d = 1, 2, 3

ValueError: not enough values to unpack (expected 4, got 3)

In [282]:
a, *b, *c = 1, 7


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

SyntaxError: two starred expressions in assignment (<ipython-input-282-090df7dae03e>, line 1)

### Zmienna długość

In [276]:
a, b, *c = 1, 2, 3, 4, 5, 6, 7


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=1
b=2
c=[3, 4, 5, 6, 7]

In [277]:
*a, b, c = 1, 2, 3, 4, 5, 6, 7


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=[1, 2, 3, 4, 5]
b=6
c=7

In [278]:
a, *b, c = 1, 2, 3, 4, 5, 6, 7


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=1
b=[2, 3, 4, 5, 6]
c=7

In [281]:
a, b, *c = 1, 7


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=1
b=7
c=[]

### Zagnieżdżone

In [287]:
a, (b, c) = 1, (2, 3)


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=1
b=2
c=3

In [289]:
a, b, *c = 1, 2, 3, (4, 5, 6, 7)


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=1
b=2
c=[3, (4, 5, 6, 7)]

### Konwencje i dobre praktyki

In [292]:
first, second, *others = 1, 2, 3, 4, 5, 6, 7


print(f'{first=}')
print(f'{second=}')
print(f'{others=}')

first=1
second=2
others=[3, 4, 5, 6, 7]

In [294]:
first, *middle, last = 1, 2, 3, 4, 5, 6, 7


print(f'{first=}')
print(f'{middle=}')
print(f'{last=}')

first=1
middle=[2, 3, 4, 5, 6]
last=7

In [296]:
*others, last = 1,2,3

print(f'{first=}')
print(f'{others=}')

first=1
others=[1, 2]

### Pomijanie wartości

In [299]:
_ = 'Jan Twardowski'

Jan Twardowski

In [300]:
_, (b, _) = 1, (2, 3)


print(f'{b=}')

b=2

In [301]:
a, b, c, *_ = 1, 2, 3, 4, 5, 6


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=1
b=2
c=3

In [314]:
*X,y = (5.8, 2.7, 5.1, 1.9, 'virginica')

mean = sum(X) / len(X)

print(mean)
print(y)

3.875
virginica

### Przykłady

In [316]:
line = 'ares3,watney,lewis,vogel,johanssen'

mission, *astronauts = line.split(',')

print(mission)
print(astronauts)

ares3
['watney', 'lewis', 'vogel', 'johanssen']

In [326]:
a, b, *c = range(0,100)


print(f'{a=}')
print(f'{b=}')
print(f'{c=}')

a=0
b=1
c=[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [334]:
data = range(0, 10, 2)
list(data)

[0, 2, 4, 6, 8]