# Python: Sekwencje - zadania

## Sequence List Create

1. Stwórz listę ``result`` z elementami:

    * 'a'
    * 1
    * 2.2

1. Wypisz ``result``
1. Wypisz liczbę elementów ``result``

In [1]:
result = ['a', 1, 2.2]

print(result)
len(result)

['a', 1, 2.2]

3

## Sequence List Many
1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Stwórz listę ``a`` z danymi z wiersza 1
1. Stwórz listę ``b`` z danymi z wiersza 2
1. Stwórz listę ``c`` z danymi z wiersza 3
1. Nie używaj wartości z kolumny "Row"

Input:

|Nr|Sepal length|Sepal width|Petal length|Petal width|Species|
|-|-|-|-|-|-|
|1|5.8|2.7|5.1|1.9|virginica|
|2|5.1|3.5|1.4|0.2|setosa|
|3|5.7|2.8|4.1|1.3|versicolor|

In [ ]:
a = [5.8, 2.7, 5.1, 1.9, 'virginica']
b = [5.1, 3.5, 1.4, 0.2, 'setosa']
c = [5.7, 2.8, 4.1,. 1.3, 'versicolor']

## Sequence List Modify

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Na początek ``a`` wstaw ostatni element wyciągnięty z ``b``
1. Na koniec ``b`` wstaw ostatni element wyciągnięty z ``a``
1. Do wyciągnięcia używaj ``list.pop()``
1. Z listy ``c`` za pomocą ``del`` usuń last element
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:
```python
a = [4.7, 3.2, 1.3, 0.2, 'setosa']
b = [7.0, 3.2, 4.7, 1.4, 'versicolor']
c = [7.6, 3.0, 6.6, 2.1, 'virginica']
```

Output:
```python
a = ['versicolor', 4.7, 3.2, 1.3, 0.2]
b = [7.0, 3.2, 4.7, 1.4, 'setosa']
c = [7.6, 3.0, 6.6, 2.1]
```

In [2]:
a = [4.7, 3.2, 1.3, 0.2, 'setosa']
b = [7.0, 3.2, 4.7, 1.4, 'versicolor']
c = [7.6, 3.0, 6.6, 2.1, 'virginica']

a.insert(0, b.pop())
b.append(a.pop())
del c[4]

In [5]:
c

[7.6, 3.0, 6.6, 2.1]

## Sequence Tuple Create

1. Stwórz tuple ``result`` z elementami:

    * 'a'
    * 1
    * 2.2

1. Wypisz ``result``
1. Wypisz liczbę elementów ``result``

In [7]:
result = ('a', 1, 2.2)
print(result)
len(result)

('a', 1, 2.2)

3

## Sequence Tuple Many

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Stwórz ``tuple`` z nazwami gatunków
1. Wylicz średnią arytmetyczną dla każdej z kolumn numerycznych
1. Uwaga nie przepisuj danych!
    
    * do przekonwertowania tabelki wykorzystaj zaznaczanie wielu linijek za pomocą klawisza ``alt`` w Twoim IDE
    * aby to zrobić zaznacz tabelkę i skopiuj jej zawartość
    * wklej do komórki z kodem
    * trzymając klawisz `alt` zaznacz pionowo kolumnę
    * skopiuj dane i wklej poniżej np. do wewnątrz stworzonej uprzednio tupli
    * zwróć uwagę, że możesz pisać w wielu linijkach na raz
    * zobacz na filmik z rozwiązaniem gdzie prezentuję ten sposób
    * jeżeli skrót Ci nie działa, to wykonaj zadanie tylko dla wartości pierwszej kolumny, tj. "Sepal Length"

Input:

|Sepal length|Sepal width|Petal length|Petal width|Species|
|-|-|-|-|-|
|5.8|2.7|5.1|1.9|virginica|
|5.1|3.5|1.4|0.2|setosa|
|5.7|2.8|4.1|1.3|versicolor|
|6.3|2.9|5.6|1.8|virginica|
|6.4|3.2|4.5|1.5|versicolor|
|4.7|3.2|1.3|0.2|setosa|
|7.0|3.2|4.7|1.4|versicolor|
|7.6|3.0|6.6|2.1|virginica|
|4.9|3.0|1.4|0.2|setosa|
|4.9|2.5|4.5|1.7|virginica|
|7.1|3.0|5.9|2.1|virginica|

Podpowiedź:

* ``mean = sum(...) / len(...)``

In [8]:
sepal_length = (5.8, 5.1, 5.7, 6.3, 6.4, 4.7, 7.0, 7.6, 4.9, 4.9, 7.1)
mean = sum(sepal_length) / len(sepal_length)
print(mean)

sepal_width = (2.7, 3.5, 2.8, 2.9, 3.2, 3.2, 3.2, 3.0, 3.0, 2.5, 3.0)
mean = sum(sepal_width) / len(sepal_width)
print(mean)

petal_lenght = (5.1, 1.4, 4.1, 5.6, 4.5, 1.3, 4.7, 6.6, 1.4, 4.5, 5.9)
mean = sum(petal_lenght) / len(petal_lenght)
print(mean)

petal_width = (1.9, 0.2, 1.3, 1.8, 1.5, 0.2, 1.4, 2.1, 0.2, 1.7, 2.1)
mean = sum(petal_width) / len(petal_width)
print(mean)


species = ('virginica', 'setosa', 'versicolor', 'virginica', 'versicolor', 'setosa', 'versicolor', 'virginica', 'setosa', 'virginica', 'virginica', )

5.954545454545454
3.0
4.1
1.3090909090909089

## Sequence Set Create
1. Stwórz zbiór ``result`` z elementami:

    * 'a'
    * 1
    * 2.2

1. Wypisz ``result``
1. Wypisz liczbę elementów ``result``

In [9]:
result = {'a', 1, 2.2}
print(result)
len(result)

{'a', 2.2, 1}

3

## Sequence Set Many

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Stwórz zbiór ``result`` reprezentujący pierwszy wiersz
1. Wartości z drugiego wiersza dodawaj do ``result`` używając ``.add()``
1. Na podstawie trzeciego wiersza stwórz ``set`` i dodaj go do ``result`` używając ``.update()``
1. Na podstawie czwartego wiersza stwórz ``tuple`` i dodaj go do ``result`` używając ``.update()``
1. Na podstawie piątego wiersza stwórz ``list`` i dodaj go do ``result`` używając ``.update()``
1. Wypis ``result``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:

|Nr|Sepal Length|Sepal Width|Petal Length|Petal Width|
|-|-|-|-|-|
|1|5.8|2.7|5.1|1.9|
|2|5.1|3.5|1.4|0.2|
|3|5.7|2.8|4.1|1.3|
|4|6.3|2.9|5.6|1.8|
|5|6.4|3.2|4.5|1.5|


Output:
```python
result: set
# {0.2, 1.9, 2.7, 3.5, 1.4, 5.8, 5.1, 1.3, 2.8, 4.1, 5.7, 6.3, 5.6, 6.4, 1.5, 4.5, 3.2, 1.8, 2.9}
```

In [10]:
result = {5.8, 2.7, 5.1, 1.9}
result.add(5.1)
result.add(3.5)
result.add(1.4)
result.add(0.2)

result.update({5.7, 2.8, 4.1, 1.3})
result.update((6.3, 2.9, 5.6, 1.8))
result.update([6.4, 3.2, 4.5, 1.5])

print(result)

{0.2, 1.9, 2.7, 3.5, 1.4, 5.8, 5.1, 1.3, 2.8, 4.1, 5.7, 6.3, 5.6, 6.4, 1.5, 4.5, 3.2, 1.8, 2.9}

## Sequence Nested Create

1. Stwórz zagnieżdżoną sekwencję ``result`` z elementami:

    * krotka: 1, 2, 3
    * lista: 1.1, 2.2, 3.3
    * zbiór: 'Mark Watney', 'Melissa Lewis', 'Jan Twardowski'

1. Wypisz ``result``
1. Wypisz liczbę elementów ``result``

In [12]:
result = [
    (1,2,3),
    [1.1, 2.2, 3.3],
    {'Mark Watney', 'Melissa Lewis', 'Jan Twardowski'},
]

print(result)
len(result)

[(1, 2, 3), [1.1, 2.2, 3.3], {'Jan Twardowski', 'Melissa Lewis', 'Mark Watney'}]

3

## Sequence Getitem Select

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Odseparuj nagłówek od danych (wiersz o indeksie 0)
1. Zapisz nagłówek (pierwsza linia) do zmiennej ``header: tuple``
1. Stwórz ``result: list``
1. Wybierz wiersz o indeksie 5, przekonwertuj go do listy i dodaj do ``result``
1. Wybierz wiersz o indeksie 10, przekonwertuj go do tuple i dodaj do ``result``
1. Wybierz wiersz o indeksie -10, przekonwertuj go do set i dodaj do ``result``
1. Wybierz wiersz o indeksie -5, przekonwertuj go do frozenset i dodaj do ``result``
1. Dodaj na koniec ``result``: pustą ``list``, pustą ``tuple``, pusty ``set``, pusty ``frozenset``
1. Korzystaj tylko z indeksów i nie używaj ``for``, ``while`` lub ``slice()``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:
```python
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]
```

Output:
```python
header: tuple
# ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species')

result: list
# [[6.4, 3.2, 4.5, 1.5, 'versicolor'],
#  (4.9, 2.5, 4.5, 1.7, 'virginica'),
#  {0.3, 1.4, 3.4, 4.6, 'setosa'},
#  frozenset({2.2, 3.0, 5.8, 6.5, 'virginica'}),
#  [],
#  (),
#  set(),
#  frozenset()]
```

Podpowiedź:
* ``from pprint import pprint``
* ``pprint(result)``

In [14]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

header = DATA[0]
result = []

# Wybierz wiersz o indeksie 5, przekonwertuj go do listy i dodaj do result
# Wybierz wiersz o indeksie 10, przekonwertuj go do tuple i dodaj do result
# Wybierz wiersz o indeksie -10, przekonwertuj go do set i dodaj do result
# Wybierz wiersz o indeksie -5, przekonwertuj go do frozenset i dodaj do result
# Dodaj na koniec result: pustą list, pustą tuple, pusty set, pusty frozenset
# Korzystaj tylko z indeksów i nie używaj for, while lub slice()
# Porównaj wyniki z sekcją "Output" (patrz poniżej)

result.append(list(DATA[5]))
result.append(tuple(DATA[10]))
result.append(set(DATA[-10]))
result.append(frozenset(DATA[-5]))
result.append([])
result.append(())
result.append(set())
result.append(frozenset())

print(result)

[[6.4, 3.2, 4.5, 1.5, 'versicolor'], (4.9, 2.5, 4.5, 1.7, 'virginica'), {0.3, 1.4, 3.4, 4.6, 'setosa'}, frozenset({2.2, 3.0, 5.8, 6.5, 'virginica'}), [], (), set(), frozenset()]

## Sequence Slice Substr

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Używając ``str.find()`` oraz wycinania
1. Wypisz ``TEXT`` bez tekstu z ``REMOVE``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:
```python
TEXT = 'We choose to go to the Moon!'
REMOVE = 'to go to '
```

In [17]:
TEXT = 'We choose to go to the Moon!'
REMOVE = 'to go to '

start = TEXT.find(REMOVE)
end = start + len(REMOVE)

TEXT[:start] + TEXT[end:]

'We choose the Moon!'

## Sequence Slice Sequence

1. Stwórz tuplę ``a`` z cyframi: 0, 1, 2, 3
1. Stwórz listę ``b`` z cyframi: 2, 3, 4, 5
1. Stwórz zbiór ``result`` z co drugim elementem ``a`` i ``b``
1. Wypisz ``result``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
result: set
# {0, 2, 4}
```

In [21]:
a = (0, 1, 2, 3)
b = [2,3,4,5]

result = set()
result.update(a[::2])
result.update(b[::2])

result

{0, 2, 4}

## Sequence Slice Text

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Usuń tytuł naukowy i stopień wojskowy z każdej zmiennej
1. Usuń również białe znaki na początku i końcu tekstu
1. Użyj tylko ``slice`` do oczyszczenia tekstu
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Przykład:
```python
example = 'lt. Mark Watney, PhD'
example[4:-5]
# 'Mark Watney'
```

Input:
```python
a = 'dr hab. inż. Jan Twardowski, prof. AATC'
b = 'gen. pil. Jan Twardowski'
c = 'Mark Watney, PhD'
d = 'lt. col. ret. Melissa Lewis'
e = 'dr n. med. Ryan Stone'
f = 'Ryan Stone, MD-PhD'
g = 'lt. col. Jan Twardowski\t'
```

Output:
```python
print(a == 'Jan Twardowski')       # True
print(b == 'Jan Twardowski')       # True
print(c == 'Mark Watney')          # True
print(d == 'Melissa Lewis')        # True
print(e == 'Ryan Stone')           # True
print(f == 'Ryan Stone')           # True
print(g == 'Jan Twardowski')       # True
```

In [36]:
a = 'dr hab. inż. Jan Twardowski, prof. AATC'
b = 'gen. pil. Jan Twardowski'
c = 'Mark Watney, PhD'
d = 'lt. col. ret. Melissa Lewis'
e = 'dr n. med. Ryan Stone'
f = 'Ryan Stone, MD-PhD'
g = 'lt. col. Jan Twardowski\t'

a = a[13:-12]
b = b[10:]
c = c[:-5]
d = d[14:]
e = e[11:]
f = f[:-8]
g = g[9:-1]


print(f'>>{a}<<', a == 'Jan Twardowski')       # True
print(f'>>{b}<<', b == 'Jan Twardowski')       # True
print(f'>>{c}<<', c == 'Mark Watney')          # True
print(f'>>{d}<<', d == 'Melissa Lewis')        # True
print(f'>>{e}<<', e == 'Ryan Stone')           # True
print(f'>>{f}<<', f == 'Ryan Stone')           # True
print(f'>>{g}<<', g == 'Jan Twardowski')       # True

>>Jan Twardowski<< True
>>Jan Twardowski<< True
>>Mark Watney<< True
>>Melissa Lewis<< True
>>Ryan Stone<< True
>>Ryan Stone<< True
>>Jan Twardowski<< True

## Sequence Slice Split

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Odseparuj nagłówek od danych
1. Zapisz nagłówek (pierwsza linia) do zmiennej ``header``
1. Zapisz dane bez nagłówka do zmiennej ``data``
1. Wylicz punkt podziału: ilość rekordów w ``data`` razy PROCENT (proporcja podziału poniżej)
1. Podziel ``data`` na dwie listy:

    * ``train``: 60% - dane do uczenia
    * ``test``: 40% - dane do testów

1. Z ``data`` zapisz do uczenia rekordy od początku do punktu podziału
1. Z ``data`` zapisz do testów rekordy od punktu podziału do końca
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:
```python
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]
```

Output:
```python
header: tuple
# ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species')

train: List[tuple]
# [(5.8, 2.7, 5.1, 1.9, 'virginica'),
#  (5.1, 3.5, 1.4, 0.2, 'setosa'),
#  (5.7, 2.8, 4.1, 1.3, 'versicolor'),
#  (6.3, 2.9, 5.6, 1.8, 'virginica'),
#  (6.4, 3.2, 4.5, 1.5, 'versicolor'),
#  (4.7, 3.2, 1.3, 0.2, 'setosa'),
#  (7.0, 3.2, 4.7, 1.4, 'versicolor'),
#  (7.6, 3.0, 6.6, 2.1, 'virginica'),
#  (4.9, 3.0, 1.4, 0.2, 'setosa'),
#  (4.9, 2.5, 4.5, 1.7, 'virginica'),
#  (7.1, 3.0, 5.9, 2.1, 'virginica'),
#  (4.6, 3.4, 1.4, 0.3, 'setosa')]

test: List[tuple]
# [(5.4, 3.9, 1.7, 0.4, 'setosa'),
#  (5.7, 2.8, 4.5, 1.3, 'versicolor'),
#  (5.0, 3.6, 1.4, 0.3, 'setosa'),
#  (5.5, 2.3, 4.0, 1.3, 'versicolor'),
#  (6.5, 3.0, 5.8, 2.2, 'virginica'),
#  (6.5, 2.8, 4.6, 1.5, 'versicolor'),
#  (6.3, 3.3, 6.0, 2.5, 'virginica'),
#  (6.9, 3.1, 4.9, 1.5, 'versicolor'),
#  (4.6, 3.1, 1.5, 0.2, 'setosa')]
```

In [42]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

RATIO = 0.6

header = DATA[0]
data = DATA[1:]

punkt_podzialu = int(len(data) * RATIO)

train = data[:punkt_podzialu]
test = data[punkt_podzialu:]

test

[(5.4, 3.9, 1.7, 0.4, 'setosa'),
 (5.7, 2.8, 4.5, 1.3, 'versicolor'),
 (5.0, 3.6, 1.4, 0.3, 'setosa'),
 (5.5, 2.3, 4.0, 1.3, 'versicolor'),
 (6.5, 3.0, 5.8, 2.2, 'virginica'),
 (6.5, 2.8, 4.6, 1.5, 'versicolor'),
 (6.3, 3.3, 6.0, 2.5, 'virginica'),
 (6.9, 3.1, 4.9, 1.5, 'versicolor'),
 (4.6, 3.1, 1.5, 0.2, 'setosa')]

## Sequence Unpacking Flat

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Używając ``str.split()`` podziel dane wejściowe po białych znakach
1. Odseparuj adres ip i nazw hostów
1. Skorzystaj z notacji z gwiazdką ``*``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:
```python
DATA = '10.13.37.1      nasa.gov esa.int roscosmos.ru'
```

Output:
```python
ip: str
# 10.13.37.1

hosts: list
# ['nasa.gov', 'esa.int', 'roscosmos.ru']
```

Podpowiedź:

* ``str.split()``

In [50]:
DATA = '10.13.37.1      nasa.gov esa.int roscosmos.ru'


ip, *hosts = DATA.split()

## Sequence Unpacking Nested

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Odseparuj nagłówek od danych
1. Skorzystaj z konstrukcji z gwiazdką ``*``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:
```python
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]
```

Output:
```python
header: tuple
# ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species')

data: list
# [
#   (5.8, 2.7, 5.1, 1.9, 'virginica'),
#   (5.1, 3.5, 1.4, 0.2, 'setosa'),
#   (5.7, 2.8, 4.1, 1.3, 'versicolor'),
#   ...
# ]
```

In [53]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

header, *data = DATA

data

[(5.8, 2.7, 5.1, 1.9, 'virginica'),
 (5.1, 3.5, 1.4, 0.2, 'setosa'),
 (5.7, 2.8, 4.1, 1.3, 'versicolor'),
 (6.3, 2.9, 5.6, 1.8, 'virginica'),
 (6.4, 3.2, 4.5, 1.5, 'versicolor'),
 (4.7, 3.2, 1.3, 0.2, 'setosa'),
 (7.0, 3.2, 4.7, 1.4, 'versicolor'),
 (7.6, 3.0, 6.6, 2.1, 'virginica'),
 (4.9, 3.0, 1.4, 0.2, 'setosa'),
 (4.9, 2.5, 4.5, 1.7, 'virginica'),
 (7.1, 3.0, 5.9, 2.1, 'virginica'),
 (4.6, 3.4, 1.4, 0.3, 'setosa'),
 (5.4, 3.9, 1.7, 0.4, 'setosa'),
 (5.7, 2.8, 4.5, 1.3, 'versicolor'),
 (5.0, 3.6, 1.4, 0.3, 'setosa'),
 (5.5, 2.3, 4.0, 1.3, 'versicolor'),
 (6.5, 3.0, 5.8, 2.2, 'virginica'),
 (6.5, 2.8, 4.6, 1.5, 'versicolor'),
 (6.3, 3.3, 6.0, 2.5, 'virginica'),
 (6.9, 3.1, 4.9, 1.5, 'versicolor'),
 (4.6, 3.1, 1.5, 0.2, 'setosa')]