# Python: Słowniki

* baza danych key-value
* szybkie wyszukiwanie `O(1)`
* mutowalne - można dodawać, edytować i usuwać wartości
* od Python 3.7 przetrzymują kolejność elementów

## Definiowanie

In [46]:
data = {}
data = dict()

In [3]:
data = {
    'imie': 'Jan',
    'nazwisko': 'Twardowski'
}

In [5]:
data = {
    1961: 'Pierwszy człowiek w kosmosie',
    1969: 'Pierwsze lądowanie na Księżycu',
}

In [6]:
crew = {
    'commander': 'Melissa Lewis',
    'botanist': 'Mark Watney',
    'chemist': 'Alex Vogel'}

In [15]:
crew = dict(
    commander='Melissa Lewis',
    botanist='Mark Watney',
    chemist='Alex Vogel',
)

In [17]:
crew = {
    'commander': 'Melissa Lewis',
    'commander': 'Jan Twardowski'
}

crew

{'commander': 'Jan Twardowski'}

## Wyciąganie elementów

* `slownik[...]` - getitem
* `slownik.get(...)` 
* `slownik.get(..., ...)`

In [7]:
crew = {
    'commander': 'Melissa Lewis',
    'botanist': 'Mark Watney',
    'chemist': 'Alex Vogel'}

In [8]:
crew['commander']

'Melissa Lewis'

In [9]:
crew['pilot']

KeyError: 'pilot'

In [10]:
crew.get('commander')

'Melissa Lewis'

In [11]:
crew.get('pilot')

In [14]:
crew.get('pilot', '-')

'-'

## Listowanie kluczy, wartości i par

In [19]:
crew = {
    'commander': 'Melissa Lewis',
    'botanist': 'Mark Watney',
    'chemist': 'Alex Vogel'}

In [22]:
list(crew.keys())

['commander', 'botanist', 'chemist']

In [23]:
list(crew.values())

['Melissa Lewis', 'Mark Watney', 'Alex Vogel']

In [25]:
list(crew.items())

[('commander', 'Melissa Lewis'),
 ('botanist', 'Mark Watney'),
 ('chemist', 'Alex Vogel')]

## Dodawanie i podmiana wartości

In [27]:
crew = {
    'commander': 'Melissa Lewis',
    'botanist': 'Mark Watney',
    'chemist': 'Alex Vogel'}

crew['pilot'] = 'Rick Martinez'
crew['commander'] = 'Jan Twardowski'

crew

{'commander': 'Jan Twardowski',
 'botanist': 'Mark Watney',
 'chemist': 'Alex Vogel',
 'pilot': 'Rick Martinez'}

In [31]:
crew = {
    'commander': 'Melissa Lewis',
    'botanist': 'Mark Watney',
    'chemist': 'Alex Vogel'}

dodatkowe_osoby = {
    'commander': 'Jan Twardowski',
    'pilot': 'Rick Martinez',
}

crew.update(dodatkowe_osoby)

crew

{'commander': 'Jan Twardowski',
 'botanist': 'Mark Watney',
 'chemist': 'Alex Vogel',
 'pilot': 'Rick Martinez'}

## Usuwanie wartości

In [35]:
crew = {
    'commander': 'Melissa Lewis',
    'botanist': 'Mark Watney',
    'chemist': 'Alex Vogel'}

left_alone_on_mars = crew.pop('botanist')

crew
left_alone_on_mars

'Mark Watney'

In [36]:
crew = {
    'commander': 'Melissa Lewis',
    'botanist': 'Mark Watney',
    'chemist': 'Alex Vogel'}

del crew['botanist']

crew

{'commander': 'Melissa Lewis', 'chemist': 'Alex Vogel'}

## Getitem i slice

In [43]:
crew = {
    0: 'Melissa Lewis',
    1: 'Mark Watney',
    2: 'Alex Vogel'}


crew[1:2]

TypeError: unhashable type: 'slice'

## Dict czy set

In [44]:
data = {}

type(data)

dict

In [47]:
data = set()
type(data)

set

In [53]:
data = {'a': 1}
data.pop('a')
data

{}

In [57]:
data = {1}
data.pop()
data

set()

## Liczba elementów

In [61]:
crew = {
    'commander': 'Melissa Lewis',
    'botanist': 'Mark Watney',
    'chemist': 'Alex Vogel'}

len(crew)
len(crew.keys())
len(crew.values())
len(crew.items())

3

## Generowanie słowników

* para
* lista par
* enumerate
* zip

In [62]:
para = [
    ('commander', 'Melissa Lewis'),
]

dict(para)

In [65]:
para = [
    ('commander', 'Melissa Lewis'),
    ('botanist', 'Mark Watney'),
]

dict(para)

{'commander': 'Melissa Lewis', 'botanist': 'Mark Watney'}

In [68]:
para = [
    (0, 'Melissa Lewis'),
    (1, 'Mark Watney'),
]

dict(para)

{0: 'Melissa Lewis', 1: 'Mark Watney'}

In [72]:
crew = ['Melissa Lewis', 'Mark Watney', 'Alex Vogel']

dict(enumerate(crew))

{0: 'Melissa Lewis', 1: 'Mark Watney', 2: 'Alex Vogel'}

In [75]:
crew = ['Melissa Lewis', 'Mark Watney', 'Alex Vogel']
roles = ['commander', 'botanist', 'chemist']

dict(zip(roles, crew))

{'commander': 'Melissa Lewis',
 'botanist': 'Mark Watney',
 'chemist': 'Alex Vogel'}

## Zagnieżdżone słowniki

* co może być kluczem?
* co może być wartością?
* lista słowników

In [87]:
data = {
    1: 'int',
    2.2: 'float',
    True: 'bool',
    None: 'NoneType',
    'hello': 'str',
    (1,2): 'tuple',
    
    # [1,2]: 'list',
    # {1,2}: 'set',
    # {'a':1}: 'dict',
}

In [103]:
data = {
    'int': 1,
    'float': 2.2,
    'bool': False,
    'NoneType': None,
    'str': 'hello',
    'tuple': (1,2),
    'list': [1,2],
    'set': {1,2},
    'dict': {'a': 1},
}

len(data)

9

In [102]:
data = [
    {'measurements': [4.7, 3.2, 1.3, 0.2], 'species': 'setosa'},
    {'measurements': [7.0, 3.2, 4.7, 1.4], 'species': 'versicolor'},
    {'measurements': [7.6, 3.0, 6.6, 2.1], 'species': 'virginica'},
]

len(data)

3

In [99]:
data = [
    {'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.3, 'petal_width': 0.4, 'species': 'setosa'},
    {'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica'},
    {'sepal_length': 6.0, 'sepal_width': 3.4, 'petal_length': 4.5, 'petal_width': 1.6, 'species': 'versicolor'},
]

In [101]:
data = {
    'date': '1969-07-21',
    'age': 42,
    'astronaut': {'name': 'Jan Twardowski', 'medals': {'Medal of Honor', 'Purple Heart'}},
    'agency': ['POLSA', 'Roscosmos', 'ESA'],
    'location': ('Baikonur', 'Johnson Space Center'),
}

len(data)

5

In [104]:
hash(1)

1

In [107]:
hash(2.22)

507285462027013122

In [108]:
hash('a')

7703146556394858103

In [109]:
hash((1,2))

-3550055125485641917

In [110]:
hash([1,2])

TypeError: unhashable type: 'list'