# Python: Rozwinięcia i wyrażenia generatorowe

## Składnia

In [1]:
result = []

for x in range(0,5):
    result.append(x)
    
result

In [2]:
result = [x for x in range(0,5)]
result

## Rozwinięcia

* Rozwinięcia list
* Rozwinięcia zbiorów
* Rozwinięcia słowników
* Rozwinięcia krotek

In [3]:
result = list(x for x in range(0,5))
result

In [4]:
result = [x for x in range(0,5)]
result

[0, 1, 2, 3, 4]

In [5]:
result = set(x for x in range(0,5))
result

{0, 1, 2, 3, 4}

In [6]:
result = {x for x in range(0,5)}
result

{0, 1, 2, 3, 4}

In [7]:
result = dict((x,x) for x in range(0,5))
result

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

In [8]:
result = {x:x for x in range(0,5)}
result

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

In [9]:
result = tuple(x for x in range(0,5))
result

(0, 1, 2, 3, 4)

In [10]:
result = (x for x in range(0,5))
result

## Wyrażenia generatorowe

In [11]:
result = (x for x in range(0,5))

In [12]:
next(result)

0

In [13]:
next(result)

1

In [14]:
next(result)

2

In [15]:
next(result)

3

In [16]:
next(result)

4

In [17]:
next(result)

StopIteration:

## Porównanie: rozwinięcia i wyrażenia generatorowe

In [18]:
result = [x for x in range(0,10)]

for i in result:
    print(i)
    if i == 3:
        break
      
print()
    
for i in result:
    print(i)
    if i == 6:
        break
        
print()

print('A:', list(result))
print('B:', list(result))

0
1
2
3

0
1
2
3
4
5
6

A: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
B: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
result = (x for x in range(0,10))

for i in result:
    print(i)
    if i == 3:
        break
      
print()
    
for i in result:
    print(i)
    if i == 6:
        break
        
print()

print('A:', list(result))
print('B:', list(result))

0
1
2
3

4
5
6

A: [7, 8, 9]
B: []

## Rozwinięcia warunkowe

In [20]:
result = []

for x in range(0,10):
    if x % 2 == 0:
        result.append(x)
        
result

[0, 2, 4, 6, 8]

In [21]:
result = [x for x in range(0,10) if x % 2 == 0]
result

[0, 2, 4, 6, 8]

In [22]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
]

result = []

for *features, label in DATA[1:]:
    if label == 'setosa':
        result.append(tuple(features))

result

[(5.1, 3.5, 1.4, 0.2), (4.7, 3.2, 1.3, 0.2)]

In [23]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
]

result = []

for *X,y in DATA[1:]:
    if y == 'setosa':
        result.append(tuple(X))

result

[(5.1, 3.5, 1.4, 0.2), (4.7, 3.2, 1.3, 0.2)]

In [24]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
]

result = [tuple(X) for *X,y in DATA[1:] if y == 'setosa']
result

[(5.1, 3.5, 1.4, 0.2), (4.7, 3.2, 1.3, 0.2)]

## Aplikowanie funkcji

In [25]:
result = []

for x in range(0,10):
    if x % 2 == 0:
        result.append(float(x))
        
result

[0.0, 2.0, 4.0, 6.0, 8.0]

In [26]:
result = [float(x) for x in range(0,10)]
result

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [27]:
result = []

for x in range(0,10):
    if x % 2 == 0:
        result.append(pow(x, 2))
        
result

[0, 4, 16, 36, 64]

In [28]:
result = [pow(x,2) for x in range(0,10) if x%2==0]
result

[0, 4, 16, 36, 64]

## Zagnieżdżone rozwinięcia

In [29]:
%%timeit -r 10 -n 100_000

DATA = {
    6: ['Doctorate', 'Prof-school'],
    5: ['Masters', 'Bachelor', 'Engineer'],
    4: ['HS-grad'],
    3: ['Junior High'],
    2: ['Primary School'],
    1: ['Kindergarten'],
}

result = {}

for idx, titles in DATA.items():
    for title in titles:
        result[title] = str(idx)
        
result

4.07 µs ± 115 ns per loop (mean ± std. dev. of 10 runs, 100000 loops each)

In [30]:
DATA = {
    6: ['Doctorate', 'Prof-school'],
    5: ['Masters', 'Bachelor', 'Engineer'],
    4: ['HS-grad'],
    3: ['Junior High'],
    2: ['Primary School'],
    1: ['Kindergarten'],
}

result = {title:str(idx) for idx, titles in DATA.items() for title in titles}
result

{'Doctorate': '6',
 'Prof-school': '6',
 'Masters': '5',
 'Bachelor': '5',
 'Engineer': '5',
 'HS-grad': '4',
 'Junior High': '3',
 'Primary School': '2',
 'Kindergarten': '1'}

In [32]:
DATA = {
    6: ['Doctorate', 'Prof-school'],
    5: ['Masters', 'Bachelor', 'Engineer'],
    4: ['HS-grad'],
    3: ['Junior High'],
    2: ['Primary School'],
    1: ['Kindergarten'],
}

result = {t:str(i) for i,titles in DATA.items() for t in titles}
result

{'Doctorate': '6',
 'Prof-school': '6',
 'Masters': '5',
 'Bachelor': '5',
 'Engineer': '5',
 'HS-grad': '4',
 'Junior High': '3',
 'Primary School': '2',
 'Kindergarten': '1'}

## Wcięcia

In [33]:
%%timeit -r 10 -n 100_000

DATA = {
    6: ['Doctorate', 'Prof-school'],
    5: ['Masters', 'Bachelor', 'Engineer'],
    4: ['HS-grad'],
    3: ['Junior High'],
    2: ['Primary School'],
    1: ['Kindergarten'],
}

result = {title: str(idx)
          for idx, titles in DATA.items()
          for title in titles}
result

3.88 µs ± 54.4 ns per loop (mean ± std. dev. of 10 runs, 100000 loops each)

## all() i any()

In [34]:
DATA = [
    {'is_astronaut': True,  'name': 'Jan Twardowski'},
    {'is_astronaut': True,  'name': 'Mark Watney'},
    {'is_astronaut': False, 'name': 'José Jiménez'},
    {'is_astronaut': True,  'name': 'Melissa Lewis'},
    {'is_astronaut': False, 'name': 'Alex Vogel'},
]

if all(x['is_astronaut'] for x in DATA):
    print('Wszyscy są astronautami')
else:
    print('Ktoś nie jest astronautą')

Ktoś nie jest astronautą

In [35]:
DATA = [
    {'is_astronaut': True,  'name': 'Jan Twardowski'},
    {'is_astronaut': True,  'name': 'Mark Watney'},
    {'is_astronaut': False, 'name': 'José Jiménez'},
    {'is_astronaut': True,  'name': 'Melissa Lewis'},
    {'is_astronaut': False, 'name': 'Alex Vogel'},
]

if any(x['is_astronaut'] for x in DATA):
    print('Ktoś jest astronautą')
else:
    print('Nikt nie jest astronautą')

Ktoś jest astronautą

In [36]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
]

all(x > 1.0 for *X,y in DATA[1:] for x in X)

False

In [37]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
]

all(observation > 1.0
    for *features, label in DATA[1:]
    for observation in features
    if isinstance(observation, float))

False

## Assignment Expression

* PEP 572 -- Assignment Expressions
* od Python 3.8

In [38]:
DATA = [
    {'is_astronaut': True,  'name': 'JaN TwarDOwski'},
    {'is_astronaut': True,  'name': 'Mark Jim WaTNey'},
    {'is_astronaut': False, 'name': 'José Maria Jiménez'},
    {'is_astronaut': True,  'name': 'Melissa Lewis'},
    {'is_astronaut': False, 'name': 'Alex Vogel'},
]

result = []

for person in DATA:
    if person['is_astronaut']:
        firstname, *_, lastname = person['name'].title().split()
        result.append({
            'firstname': firstname,
            'lastname': lastname,
        })
        
result

[{'firstname': 'Jan', 'lastname': 'Twardowski'},
 {'firstname': 'Mark', 'lastname': 'Watney'},
 {'firstname': 'Melissa', 'lastname': 'Lewis'}]

In [39]:
DATA = [
    {'is_astronaut': True,  'name': 'JaN TwarDOwski'},
    {'is_astronaut': True,  'name': 'Mark Jim WaTNey'},
    {'is_astronaut': False, 'name': 'José Maria Jiménez'},
    {'is_astronaut': True,  'name': 'Melissa Lewis'},
    {'is_astronaut': False, 'name': 'Alex Vogel'},
]

result = [{'firstname': person['name'].title().split()[0],
           'lastname': person['name'].title().split()[-1]}
          
          for person in DATA
          if person['is_astronaut']]
result

[{'firstname': 'Jan', 'lastname': 'Twardowski'},
 {'firstname': 'Mark', 'lastname': 'Watney'},
 {'firstname': 'Melissa', 'lastname': 'Lewis'}]

In [40]:
DATA = [
    {'is_astronaut': True,  'name': 'JaN TwarDOwski'},
    {'is_astronaut': True,  'name': 'Mark Jim WaTNey'},
    {'is_astronaut': False, 'name': 'José Maria Jiménez'},
    {'is_astronaut': True,  'name': 'Melissa Lewis'},
    {'is_astronaut': False, 'name': 'Alex Vogel'},
]

result = [{'firstname': name[0],
           'lastname': name[-1]}
          
          for person in DATA
          if person['is_astronaut']
          and (name := person['name'].title().split())]

result

[{'firstname': 'Jan', 'lastname': 'Twardowski'},
 {'firstname': 'Mark', 'lastname': 'Watney'},
 {'firstname': 'Melissa', 'lastname': 'Lewis'}]

In [41]:
DATA = [
    {'is_astronaut': True,  'name': 'JaN TwarDOwski'},
    {'is_astronaut': True,  'name': 'Mark Jim WaTNey'},
    {'is_astronaut': False, 'name': 'José Maria Jiménez'},
    {'is_astronaut': True,  'name': 'Melissa Lewis'},
    {'is_astronaut': False, 'name': 'Alex Vogel'},
]

result = [{'firstname': fname, 'lastname': lname}
          for person in DATA
          if person['is_astronaut']
          and (name := person['name'].title().split())
          and (fname := name[0])
          and (lname := name[-1])]

result

[{'firstname': 'Jan', 'lastname': 'Twardowski'},
 {'firstname': 'Mark', 'lastname': 'Watney'},
 {'firstname': 'Melissa', 'lastname': 'Lewis'}]

## Przykłady

* Odwracanie słownika
* Filtrowanie wyników i wydobywanie fragmentów

In [42]:
DATA = [
    {'is_astronaut': True,  'name': 'Jan Twardowski'},
    {'is_astronaut': True,  'name': 'Mark Watney'},
    {'is_astronaut': False, 'name': 'José Jiménez'},
    {'is_astronaut': True,  'name': 'Melissa Lewis'},
    {'is_astronaut': False, 'name': 'Alex Vogel'},
]

result = [x['name'] for x in DATA if x['is_astronaut']]
result

['Jan Twardowski', 'Mark Watney', 'Melissa Lewis']

In [43]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
]

result = [tuple(X) for *X,y in DATA[1:] if y=='setosa']
result

[(5.1, 3.5, 1.4, 0.2), (4.7, 3.2, 1.3, 0.2)]

In [44]:
DATA = [
    '5.8,2.7,5.1,1.9,virginica',
    '5.1,3.5,1.4,0.2,setosa',
    '5.7,2.8,4.1,1.3,versicolor',
]

result = [tuple(X+[y])
          for row in DATA
          if (line := row.split(','))
          and (X := list(float(x) for x in line[:-1]))
          and (y := line[-1])]

result

[(5.8, 2.7, 5.1, 1.9, 'virginica'),
 (5.1, 3.5, 1.4, 0.2, 'setosa'),
 (5.7, 2.8, 4.1, 1.3, 'versicolor')]

In [45]:
DATA = [
    '5.8,2.7,5.1,1.9,virginica',
    '5.1,3.5,1.4,0.2,setosa',
    '5.7,2.8,4.1,1.3,versicolor',
]

result = []

for row in DATA:
    *X,y = row.split(',')
    X = list(float(x) for x in X) + [y]
    result.append(tuple(X))


result

[(5.8, 2.7, 5.1, 1.9, 'virginica'),
 (5.1, 3.5, 1.4, 0.2, 'setosa'),
 (5.7, 2.8, 4.1, 1.3, 'versicolor')]

In [46]:
DATA = {'firstname': 'Mark', 'lastname': 'Watney'}

result = {}

for key, value in DATA.items():
    result[value] = key
    
result

{'Mark': 'firstname', 'Watney': 'lastname'}

In [47]:
DATA = {'firstname': 'Mark', 'lastname': 'Watney'}

result = {value: key for key, value in DATA.items()}
result

{'Mark': 'firstname', 'Watney': 'lastname'}

In [48]:
DATA = {'firstname': 'Mark', 'lastname': 'Watney'}

result = {v:k for k,v in DATA.items()}
result

{'Mark': 'firstname', 'Watney': 'lastname'}