# Python: Funckcje: argumenty i parametry - zadania

## Function Parameters Sequence

1. Zdefiniuj funkcję ``add``
1. Parametrem do funkcji ma być sekwencja liczb całkowitych
1. Wypisz sumę wszystkich wartości sekwencji

In [1]:
def add(sequence):
    return sum(sequence)

add([1,2,3])

6

## Function Parameters Echo

1. Zdefiniuj funkcję ``echo`` z dwoma parametrami
1. Parametr ``a`` jest wymagany
1. Parametr ``b`` jest wymagany
1. Wypisz ``a`` i ``b``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> echo(1, 2)
a=1 b=2

>>> echo(3, 4)
a=3 b=4
```

In [5]:
def echo(a, b):
    print(f'a={a} b={b}')
    
echo(1,2)
echo(3, 4)

a=1 b=2
a=3 b=4

## Function Parameters Default

1. Zdefiniuj funkcję ``default`` z dwoma parametrami
1. Parametr ``a`` jest wymagany
1. Parametr ``b`` jest opcjonalny i ma domyślną wartość ``None``
1. Jeżeli tylko jeden argument był podany, przyjmij drugi równy pierwszemu
1. Wypisz ``a`` i ``b``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> default(1)
a=1 b=1

>>> default(2, 3)
a=2 b=3
```

In [8]:
def default(a, b=None):
    if b is None:
        b = a
    print(f'a={a} b={b}')
    
default(1)
default(2, 3)

a=1 b=1
a=2 b=3

## Function Arguments Sequence

1. Zdefiniuj funkcję biorącą sekwencję liczb całkowitych jako argument
1. Zsumuj tylko parzyste liczby
1. Wypisz zwróconą wartość

In [11]:
def add(sequence):
    return sum(x for x in sequence if x % 2 == 0)


add([1,2,3,4,5,6])

12

## Function Arguments Divide

1. Zdefiniuj funkcję ``divide``
1. Funkcja przyjmuje dwa argumenty
1. Funkcja dzieli oba argumenty przez siebie i zwraca wynik dzielenia
1. Wywołaj funkcję z ``divide(4, 2)``
1. Wywołaj funkcję z ``divide(4, 0)``
1. Wypisz zwracane wartości
1. Co zrobić w przypadku błędu?

Output:
```python
>>> divide(4, 2)
2.0

>>> divide(4, 0)
None
```

In [16]:
def divide(a, b):
    if b != 0:
        return a / b


divide(4, 2)
result = divide(4, 0)
print(result)

None

## Function Arguments Power

1. Zdefiniuj funkcję ``power``
1. Funkcja przyjmuje dwa argumenty
1. Drugi argument jest opcjonalny
1. Funkcja zwraca wynik pierwszego argumentu do potęgi drugiego
1. Jeżeli tylko jeden argument był podany, przyjmij drugi równy pierwszemu
1. Wypisz zwracane wartości
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> power(4, 3)
64

>>> power(3)
27
```

In [20]:
def power(a, b=None):
    b = b if b else a
    return a ** b

power(2)

4

## Function Arguments Translate

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zdefiniuj funkcję ``translate`` przyjmującą parametr ``text``
1. Użyj ``str.join()`` z wyrażeniem generatorowym do iteracji po ``text``
1. Jeżeli litera jest w ``PL`` to użyj przekonwertowanej wartości jako litera, w przeciwnym przypadku to weź literę
1. Zwróć z funkcji przetłumaczony ``text``
1. Uruchom ``translate('zażółć')``
1. Uruchom ``translate('gęślą')``
1. Uruchom ``translate('jaźń')``
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [21]:
PL = {'ą': 'a', 'ć': 'c', 'ę': 'e',
      'ł': 'l', 'ń': 'n', 'ó': 'o',
      'ś': 's', 'ż': 'z', 'ź': 'z'}

In [22]:
def translate(text):
    return ''.join(PL.get(x,x) for x in text)

In [23]:
translate('zażółć') == 'zazolc'

True

In [24]:
translate('gęślą') == 'gesla'

True

In [25]:
translate('jaźń') == 'jazn'

True

## Function Arguments Clean

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Napisz jedną funkcję czyszczącą dane ``clean()``
1. Funkcja przyjmuje jeden argument typu ``str``
1. Funkcja zwraca oczyszczony tekst i powinna działać dla wszystkich przypadków
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [73]:
def clean(text):
    text = text.upper()
    
    text = text.replace('    ', '')
    text = text.replace('  ', '')
    
    text = text.replace('.', '')
    
    text = text.replace('ULICA', '')
    text = text.replace('UL', '')
    
    text = text.replace('TRZECIEGO', 'III')
    text = text.replace('3', 'III')
    
    text = text.title()
    text = text.replace('Iii', 'III')
    text = text.replace('Ii', 'II')
    return text.strip()

In [80]:
clean('ul.Mieszka II') == 'Mieszka II'

True

In [81]:
clean('UL. Zygmunta III WaZY') == 'Zygmunta III Wazy'

True

In [82]:
clean('  bolesława chrobrego ') == 'Bolesława Chrobrego'

True

In [83]:
clean('ul Jana III SobIESkiego') == 'Jana III Sobieskiego'

True

In [84]:
clean('\tul. Jana trzeciego Sobieskiego') == 'Jana III Sobieskiego'

True

In [85]:
clean('ulicaJana III Sobieskiego') == 'Jana III Sobieskiego'

True

In [86]:
clean('UL. JA    NA 3 SOBIES  KIEGO') == 'Jana III Sobieskiego'

True

In [87]:
clean('ULICA JANA III SOBIESKIEGO  ') == 'Jana III Sobieskiego'

True

In [88]:
clean('ULICA. JANA III SOBIeskieGO') == 'Jana III Sobieskiego'

True

In [89]:
clean(' Jana 3 Sobieskiego  ') == 'Jana III Sobieskiego'

True

In [90]:
clean('Jana III Sobi  eskiego ') == 'Jana III Sobieskiego'

True

## Function Arguments Numbers to Str

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Dany jest alfabet pilotów dla numerów
1. Przekonwertuj ``DATA: Dict[int, str]`` na ``CONVERT: Dict[str, str]`` (klucze jako ``str``)
1. Dla danych wejściowych (patrz sekcja input poniżej)
1. Zdefiniuj funkcję konwertującą ``int`` lub ``float`` na formę tekstową w mowie pilotów
1. Możesz modyfikować ``CONVERT``
1. Nie możesz zmieniać ``DATA``
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [102]:
DATA = {
    '0': 'zero',
    '1': 'one',
    '2': 'two',
    '3': 'tree',
    '4': 'fower',
    '5': 'fife',
    '6': 'six',
    '7': 'seven',
    '8': 'ait',
    '9': 'niner',
    '-': 'minus',
    '.': 'and',
}

def pilot_say(number):
    return ' '.join(DATA.get(x,x) for x in str(number))

In [103]:
pilot_say(1969) == 'one niner six niner'

True

In [104]:
pilot_say(31337) == 'tree one tree tree seven'

True

In [105]:
pilot_say(13.37) == 'one tree and tree seven'

True

In [106]:
pilot_say(31.337) == 'tree one and tree tree seven'

True

In [107]:
pilot_say(-1969) == 'minus one niner six niner'

True

In [108]:
pilot_say(-31.337) == 'minus tree one and tree tree seven'

True

In [109]:
pilot_say(-49.35) == 'minus fower niner and tree fife'

True