## Python: Funckcje - zadania

## Function Parameters Sequence

1. Zdefiniuj funkcję ``add``
1. Parametrem do funkcji ma być sekwencja liczb całkowitych
1. Wypisz sumę wszystkich wartości sekwencji

## Function Parameters Echo

1. Zdefiniuj funkcję ``echo`` z dwoma parametrami
1. Parametr ``a`` jest wymagany
1. Parametr ``b`` jest wymagany
1. Wypisz ``a`` i ``b``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> echo(1, 2)
a=1 b=2

>>> echo(3, 4)
a=3 b=4
```

## Function Parameters Default

1. Zdefiniuj funkcję ``default`` z dwoma parametrami
1. Parametr ``a`` jest wymagany
1. Parametr ``b`` jest opcjonalny i ma domyślną wartość ``None``
1. Jeżeli tylko jeden argument był podany, przyjmij drugi równy pierwszemu
1. Wypisz ``a`` i ``b``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> default(1)
a=1 b=1

>>> default(2, 3)
a=2 b=3
```

## Function Arguments Sequence

1. Zdefiniuj funkcję biorącą sekwencję liczb całkowitych jako argument
1. Zsumuj tylko parzyste liczby
1. Wypisz zwróconą wartość

## Function Arguments Divide

1. Zdefiniuj funkcję ``divide``
1. Funkcja przyjmuje dwa argumenty
1. Funkcja dzieli oba argumenty przez siebie i zwraca wynik dzielenia
1. Wywołaj funkcję z ``divide(4, 2)``
1. Wywołaj funkcję z ``divide(4, 0)``
1. Wypisz zwracane wartości
1. Co zrobić w przypadku błędu?

Output:
```python
>>> divide(4, 2)
2

>>> divide(4, 0)
None
```

## Function Arguments Power

1. Zdefiniuj funkcję ``power``
1. Funkcja przyjmuje dwa argumenty
1. Drugi argument jest opcjonalny
1. Funkcja zwraca wynik pierwszego argumentu do potęgi drugiego
1. Jeżeli tylko jeden argument był podany, przyjmij drugi równy pierwszemu
1. Wypisz zwracane wartości
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> power(4, 3)
64

>>> power(3)
27
```

## Function Arguments Translate

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zdefiniuj funkcję ``translate`` przyjmującą parametr ``text``
1. Użyj ``str.join()`` z wyrażeniem generatorowym do iteracji po ``text``
1. Jeżeli litera jest w ``PL`` to użyj przekonwertowanej wartości jako litera, w przeciwnym przypadku to weź literę
1. Zwróć z funkcji przetłumaczony ``text``
1. Uruchom ``translate('zażółć')``
1. Uruchom ``translate('gęślą')``
1. Uruchom ``translate('jaźń')``
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [ ]:
PL = {'ą': 'a', 'ć': 'c', 'ę': 'e',
      'ł': 'l', 'ń': 'n', 'ó': 'o',
      'ś': 's', 'ż': 'z', 'ź': 'z'}

In [ ]:
def translate(text):    
    ...

In [ ]:
translate('zażółć') == 'zazolc'

In [ ]:
translate('gęślą') == 'gesla'

In [ ]:
translate('jaźń') == 'jazn'

## Function Arguments Clean

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Napisz jedną funkcję czyszczącą dane ``clean()``
1. Funkcja przyjmuje jeden argument typu ``str``
1. Funkcja zwraca oczyszczony tekst i powinna działać dla wszystkich przypadków
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [ ]:
def clean(asd):
    ...

In [ ]:
clean('ul.Mieszka II') == 'Mieszka II'

In [ ]:
clean('UL. Zygmunta III WaZY') == 'Zygmunta III Wazy'

In [ ]:
clean('  bolesława chrobrego ') == 'Bolesława Chrobrego'

In [ ]:
clean('ul Jana III SobIESkiego') == 'Jana III Sobieskiego'

In [ ]:
clean('\tul. Jana trzeciego Sobieskiego') == 'Jana III Sobieskiego'

In [ ]:
clean('ulicaJana III Sobieskiego') == 'Jana III Sobieskiego'

In [ ]:
clean('UL. JA    NA 3 SOBIES  KIEGO') == 'Jana III Sobieskiego'

In [ ]:
clean('ULICA JANA III SOBIESKIEGO  ') == 'Jana III Sobieskiego'

In [ ]:
clean('ULICA. JANA III SOBIeskieGO') == 'Jana III Sobieskiego'

In [ ]:
clean(' Jana 3 Sobieskiego  ') == 'Jana III Sobieskiego'

In [ ]:
clean('Jana III Sobi  eskiego ') == 'Jana III Sobieskiego'

## Function Arguments Numbers to Str

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Dany jest alfabet pilotów dla numerów
1. Przekonwertuj ``DATA: Dict[int, str]`` na ``CONVERT: Dict[str, str]`` (klucze jako ``str``)
1. Dla danych wejściowych (patrz sekcja input poniżej)
1. Zdefiniuj funkcję konwertującą ``int`` lub ``float`` na formę tekstową w mowie pilotów
1. Możesz modyfikować ``CONVERT``
1. Nie możesz zmieniać ``DATA``
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [ ]:
DATA = {
    0: 'zero',
    1: 'one',
    2: 'two',
    3: 'tree',
    4: 'fower',
    5: 'fife',
    6: 'six',
    7: 'seven',
    8: 'ait',
    9: 'niner',
}

def pilot_say(number):
    ...

In [ ]:
pilot_say(1969) == 'one niner six niner'

In [ ]:
pilot_say(31337) == 'tree one tree tree seven'

In [ ]:
pilot_say(13.37) == 'one tree and tree seven'

In [ ]:
pilot_say(31.337) == 'tree one and tree tree seven'

In [ ]:
pilot_say(-1969) == 'minus one niner six niner'

In [ ]:
pilot_say(-31.337) == 'minus tree one and tree tree seven'

In [ ]:
pilot_say(-49.35) == 'minus fower niner and tree fife'