# Python: Programowanie obiektowe: Klasy, Instancje i Atrybuty - zadania

## OOP Class Iris
1. Zdefiniuj klasę ``Iris``
1. Stwórz instancję ``setosa`` klasy ``Iris``
1. Stwórz instancję ``virginica`` klasy ``Iris``
1. Stwórz instancję ``versicolor`` klasy ``Iris``

In [1]:
class Iris:
    pass

setosa = Iris()
virginica = Iris()
versicolor = Iris()

## OOP Class Instance

1. Zdefiniuj klasę ``Astronaut``
1. Zdefiniuj klasę ``SpaceAgency``
1. Stwórz instancję ``twardowski`` klasy ``Astronaut``
1. Stwórz instancję ``watney`` klasy ``Astronaut``
1. Stwórz instancję ``nasa`` klasy ``SpaceAgency``
1. Stwórz instancję ``esa`` klasy ``SpaceAgency``
1. Stwórz instancję ``polsa`` klasy ``SpaceAgency``

In [3]:
class Astronaut:
    pass


class SpaceAgency:
    pass


twardowski = Astronaut()
watney = Astronaut()
nasa = SpaceAgency()
esa = SpaceAgency()
polsa = SpaceAgency()

## OOP Attribute Model

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zamodeluj dane za pomocą klas
1. Stwórz instancje dla każdego wpisu
1. Jak wiele klas możemy wyróżnić?
1. Jak wiele instancji możemy wyróżnić?
1. Wypisz wszystkie pola każdej z instancji

Input:
```
Jan Twardowski, Poland, 1961-04-12
Mark Watney, USA, 1969-07-21
European Space Agency, Europe, 1975-05-30
National Aeronautics and Space Administration, USA, 1958-07-29
Polish Space Agency, Poland, 2014-09-26
```

In [ ]:
class Astronaut:
    pass


class SpaceAgency:
    pass


watney = Astronaut()
watney.name = 'Mark Watney'
watney.lokacja = 'USA'
watney.data = '1969-07-21'

twardowski = Astronaut()
twardowski.name = 'Jan Twardowski'
twardowski.lokacja = 'Poland'
twardowski.data = '1961-04-12'

nasa = SpaceAgency()
nasa.name = 'National Aeronautics and Space Administration'
nasa.lokacja = 'USA'
nasa.data = '1958-07-29'

polsa = SpaceAgency()
nasa.name = 'Polish Space Agency'
nasa.lokacja = 'Poland'
nasa.data = '2014-09-26'

esa = SpaceAgency()
nasa.name = 'European Space Agency'
nasa.lokacja = 'Europe'
nasa.data = '1975-05-30'

## OOP Init Print

1. Stwórz jedną klasę ``Temperature``
1. Stwórz trzy instancje klasy ``Temperature``
1. Wartości mają być podawane przy inicjalizacji
1. Przy inicjalizacji instancje wypisują:

    * Instancja ``celsius`` wyświetla temperaturę 36.6
    * Instancja ``fahrenheit`` wyświetla temperaturę 97.88
    * Instancja ``kelvin`` wyświetla temperaturę 309.75

1. Nie konwertuj jednostek, tylko wypisz podane liczby
1. Nie przechowuj informacji w instancjach (tylko wypisz przy inicjalizacji)
1. Nie używaj ``@dataclass``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
36.6
97.88
309.75
```

In [4]:
class Temperature:
    def __init__(self, value):
        print(value)
        
        
celsius = Temperature(36.6)
fahrenheit = Temperature(97.88)
kelvin = Temperature(309.75)

36.6
97.88
309.75

## OOP Init Model

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zamodeluj dane za pomocą klas
1. Stwórz instancje dla każdego wpisu
1. Wartości mają być podawane przy inicjalizacji
1. Twórz instancje pierwszej klasy używając argumentów pozycyjnych
1. Twórz instancje drugiej klasy używając argumentów nazwanych
1. Za pomocą ``__dict__`` wypisz wszystkie pola każdej z instancji
1. Nie używaj ``@dataclass``

Input:
```
Jan Twardowski, Poland, 1961-04-12
Mark Watney, USA, 1969-07-21
European Space Agency, Europe, 1975-05-30
National Aeronautics and Space Administration, USA, 1958-07-29
Polish Space Agency, Poland, 2014-09-26
```

In [11]:
class Astronaut:
    def __init__(self, name, lokacja, data):
        self.name = name
        self.lokacja = lokacja
        self.data = data


class SpaceAgency:
    def __init__(self, name, lokacja, data):
        self.name = name
        self.lokacja = lokacja
        self.data = data


watney = Astronaut('Mark Watney', 'USA', '1969-07-21')
twardowski = Astronaut('Jan Twardowski', 'Poland', '1961-04-12')

nasa = SpaceAgency(
    name = 'National Aeronautics and Space Administration',
    lokacja = 'USA',
    data = '1958-07-29')

polsa = SpaceAgency(
    name = 'Polish Space Agency',
    lokacja = 'Poland',
    data = '2014-09-26')

esa = SpaceAgency(
    name = 'European Space Agency',
    lokacja = 'Europe',
    data = '1975-05-30')


watney.__dict__
esa.__dict__

{'name': 'European Space Agency', 'lokacja': 'Europe', 'data': '1975-05-30'}