# Python: Programowanie obiektowe - zadania

## OOP Class Iris
1. Zdefiniuj klasę ``Iris``
1. Stwórz instancję ``setosa`` klasy ``Iris``
1. Stwórz instancję ``virginica`` klasy ``Iris``
1. Stwórz instancję ``versicolor`` klasy ``Iris``

## OOP Class Instance

1. Zdefiniuj klasę ``Astronaut``
1. Zdefiniuj klasę ``SpaceAgency``
1. Stwórz instancję ``twardowski`` klasy ``Astronaut``
1. Stwórz instancję ``watney`` klasy ``Astronaut``
1. Stwórz instancję ``nasa`` klasy ``SpaceAgency``
1. Stwórz instancję ``esa`` klasy ``SpaceAgency``
1. Stwórz instancję ``polsa`` klasy ``SpaceAgency``

## OOP Attribute Model

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zamodeluj dane za pomocą klas
1. Stwórz instancje dla każdego wpisu
1. Jak wiele klas możemy wyróżnić?
1. Jak wiele instancji możemy wyróżnić?
1. Wypisz wszystkie pola każdej z instancji

Input:
```
Jan Twardowski, Poland, 1961-04-12
Mark Watney, USA, 1969-07-21
European Space Agency, Europe, 1975-05-30
National Aeronautics and Space Administration, USA, 1958-07-29
Polish Space Agency, Poland, 2014-09-26
```

## OOP Init Print

1. Stwórz jedną klasę ``Temperature``
1. Stwórz trzy instancje klasy ``Temperature``
1. Wartości mają być podawane przy inicjalizacji
1. Przy inicjalizacji instancje wypisują:

    * Instancja ``celsius`` wyświetla temperaturę 36.6
    * Instancja ``fahrenheit`` wyświetla temperaturę 97.88
    * Instancja ``kelvin`` wyświetla temperaturę 309.75

1. Nie konwertuj jednostek, tylko wypisz podane liczby
1. Nie przechowuj informacji w instancjach (tylko wypisz przy inicjalizacji)
1. Nie używaj ``@dataclass``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
36.6
97.88
309.75
```

## OOP Init Model

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zamodeluj dane za pomocą klas
1. Stwórz instancje dla każdego wpisu
1. Wartości mają być podawane przy inicjalizacji
1. Twórz instancje pierwszej klasy używając argumentów pozycyjnych
1. Twórz instancje drugiej klasy używając argumentów nazwanych
1. Za pomocą ``__dict__`` wypisz wszystkie pola każdej z instancji
1. Nie używaj ``@dataclass``

Input:
```
Jan Twardowski, Poland, 1961-04-12
Mark Watney, USA, 1969-07-21
European Space Agency, Europe, 1975-05-30
National Aeronautics and Space Administration, USA, 1958-07-29
Polish Space Agency, Poland, 2014-09-26
```

## OOP Method Sequence

1. Stwórz klasę ``Iris`` z atrybutami ``features: List[float]`` i ``label: str``
1. Dla każdego wiersza w ``DATA`` twórz instancję ``Iris`` z danymi z wiersza
1. Ustaw atrybuty klasy przy inicjalizacji z argumentów pozycyjnych
1. Stwórz metodę sumującą wartości wszystkich ``features``
1. Wypisz nazwę gatunku i wynik metody sumującej
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```text
setosa 9.4
versicolor 16.299999999999997
virginica 19.3
```

In [ ]:
DATA = [
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
]

## OOP Method Nested

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zdefiniuj klasę ``Iris``
1. ``Iris`` ma:

    * "Sepal length" typu ``float``
    * "Sepal width" typu ``float``
    * "Petal length" typu ``float``
    * "Petal width" typu ``float``
    * "Species" typu ``str``

1. ``Iris`` może:

    * Zwrócić liczbę pól typu ``float``
    * Zwrócić listę wartości wszystkich pól typu ``float``
    * Zwrócić sumę wartości pól typu ``float``
    * Zwrócić średnią arytmetyczną wartość pól typu ``float``

1. Użyj iterowania po ``self.__dict__`` do zwrócenia wartości pól numerycznych
1. Stwórz obiekt ``setosa`` z atrybutami ustawionymi przy inicjalizacji
1. Stwórz obiekt ``virginica`` z atrybutami ustawionymi przy inicjalizacji
1. Wypisz sumę, średnią oraz nazwę gatunku każdego z obiektów
1. Nie używaj ``@dataclass``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
total=10.20 mean=2.55 setosa
total=15.50 mean=3.88 virginica
```

Podpowiedź:
* ``isinstance(value, float)``

In [ ]:
class Iris:
    def __init__(self, sepal_length, sepal_width,
                petal_length, petal_width, species):

        self.sepal_length = sepal_length
        self.sepal_width = sepal_width
        self.petal_length = petal_length
        self.petal_width = petal_width
        self.species = species


setosa = Iris(5.1, 3.5, 1.4, 0.2, 'setosa')
virginica = Iris(5.8, 2.7, 5.1, 1.9, 'virginica')

print(f'{setosa.show()}')
print(f'{virginica.show()}')

## OOP Stringify Str

1. Użyj kodu z sekcji "Input" (patrz poniżej)
1. Przy wypisywaniu obiektu pokaż: nazwę gatunku i wynik metody sumującej
1. Wynik sumowania zaokrąglij do jednego miejsca po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```
setosa 9.4
versicolor 16.3
virginica 19.3
```

In [ ]:
DATA = [
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
]


class Iris:
    def __init__(self, features, label):
        self.features = features
        self.label = label


for *features, label in DATA:
    iris = Iris(features, label)
    print(iris)

## OOP Stringify Repr

1. Użyj kodu z sekcji "Input" (patrz poniżej)
1. Wypisz reprezentację każdej z instancji z wartościami (użyj ``repr()``)
1. Wynik sumowania zaokrąglij do dwóch miejsc po przecinku
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
result: List[Iris]
# [Iris(features=[7.6, 3.0, 6.6, 2.1], label='virginica'),
#  Iris(features=[7.6, 3.0, 6.6, 2.1], label='virginica'),
#  Iris(features=[7.6, 3.0, 6.6, 2.1], label='virginica')]
```

In [ ]:
DATA = [
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
]


class Iris:
    def __init__(self, features, label):
        self.features = features
        self.label = label


result = [Iris(X,y) for *X,y in DATA]
print(result)

## OOP Stringify Nested

1. Użyj kodu z sekcji "Input" (patrz poniżej)
1. Przeciąż ``str`` i ``repr`` aby osiągnąć oczekiwany rezultat wypisywania
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

In [ ]:
class Crew:
    def __init__(self, members=()):
        self.members = list(members)
        
    def __str__(self):
        ...
        

class Astronaut:
    def __init__(self, name, experience=()):
        self.name = name
        self.experience = list(experience)
        
    def __str__(self):
        ...
        
    def __repr__(self):
        ...
        

class Mission:
    def __init__(self, year, name):
        self.year = year
        self.name = name
        
    def __repr__(self):
        ...

In [ ]:
melissa = Astronaut('Melissa Lewis')

print(f'Commander: \n{melissa}\n')
# Commander:
# Melissa Lewis

In [ ]:
mark = Astronaut('Mark Watney', experience=[
    Mission(2035, 'Ares 3'),
])

print(f'Space Pirate: \n{mark}\n')
# Space Pirate:
# Mark Watney veteran of [
# 	2035: Ares 3]

In [ ]:
crew = Crew([
    Astronaut('Jan Twardowski', experience=[
        Mission(1969, 'Apollo 11'),
        Mission(2024, 'Artemis 3'),
    ]),
    Astronaut('José Jiménez'),
    Astronaut('Mark Watney', experience=[
        Mission(2035, 'Ares 3'),
    ]),
])

print(f'Crew: \n{crew}')
# Crew:
# Jan Twardowski veteran of [
# 	1969: Apollo 11,
# 	2024: Artemis 3]
# José Jiménez
# Mark Watney veteran of [
# 	2035: Ares 3]

## OOP Inheritance Simple

1. Stwórz klasę ``Mars``
1. Stwórz klasę ``Venus``
1. Stwórz klasę ``Woman``, która dziedziczy po ``Venus``
1. Stwórz klasę ``Man``, która dziedziczy po ``Mars``

## OOP Inheritance Multiple

1. Stwórz klasy ``Engineer``, ``Scientist``, ``Pilot``, ``MedicalDoctor``
1. Stwórz klasę ``Astronaut``, która dziedziczy po tych wszystkich klasach

## OOP Inheritance Super

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Stwórz klasę ``Crew``
1. W ``__init__()`` ustaw ``mission`` na ``Ares 3``
1. Stwórz klasę ``Astronaut`` dziedziczącą po ``Crew``
1. Używając parametrów pozycyjnych podanych przy inicjalizacji ustaw imię i nazwisko astronauty
1. Każdy astronauta musi mieć przydzieloną misję (odziedziczoną z ``Crew``)
1. Zwróć imię, nazwisko i nazwę misji from ``__str__()``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)


Output:
```
Astronaut crew:
- Mark Watney (Ares 3)
- Melissa Lewis (Ares 3)
- Alex Vogel (Ares 3)
```

In [ ]:
mark = Astronaut('Mark Watney')
melissa = Astronaut('Melissa Lewis')
alex = Astronaut('Alex Vogel')

result = f"""
Astronaut crew:
- {mark}
- {melissa}
- {alex}
"""

print(result)