# Python Biblioteka Standardowa - daty i czas - rozwiązania

In [1]:
from datetime import date, time, datetime, timezone, timedelta

## Datetime Create Custom

1. Stwórz obiekt ``date`` z datą Twojego urodzenia
1. Stwórz obiekt ``time`` z czasem Twojego urodzenia
1. Stwórz obiekt ``datetime`` z datą i czasem Twojego urodzenia

In [3]:
d = date(1969, 7, 21)
t = time(2, 57, 0)
dt = datetime.combine(d, t)

dt

datetime.datetime(1969, 7, 21, 2, 57)

## Datetime Create Current

1. Stwórz obiekt ``date`` z obecną datą
1. Stwórz obiekt ``datetime`` z obecną datą i czasem
1. Stwórz obiekt ``time`` z obecnym czasem
1. Data i czas ma być pobierana z systemu, nie zapisana w kodzie

In [4]:
dt = datetime.now()
d = dt.date()
t = dt.time()

## Datetime Parse ISO

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Dana jest data w formacie ISO
1. Przedstaw datę jako obiekt ``datetime``

In [13]:
DATA = '1969-07-21T02:56:15.123Z'

dt = datetime.strptime(DATA, '%Y-%m-%dT%H:%M:%S.%fZ')
print(dt)

1969-07-21 02:56:15.123000

## Datetime Parse Local

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Podaną datę przekonwertuj do obiektu ``datetime``
1. Używając parametrów formatujących wyświetl datę i czas w formacie ISO
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
data: datetime
# datetime.datetime(1961, 4, 12, 6, 7)
```

Hint:
* Dodaj ``local time`` do ciągu formatowania

In [22]:
DATA = 'April 12, 1961 6:07 local time'

data = datetime.strptime(DATA, '%B %d, %Y %I:%M local time')

data

'04/12/61'

## Datetime Parse US

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Używając podaną poniżej datę i czas (skopiuj z cudzysłowami)
1. Parsując stwórz obiekt ``datetime``
1. Używając parametrów formatowania wyświetl datę w formacie amerykańskim krótkim
1. Upewnij się, że godzina jest bez wiodącego zera
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
data: datetime
# datetime.datetime(1969, 7, 21, 2, 56)

print(result)
# 7/21/69 2:56 AM
```

Hint:
* Dodaj znak ``"`` do ciągu formatowania w ``.strptime()``
* Użyj ``%-I`` lub ``%_I`` na \*nix (macOS, BSD, Linux) do usunięcia wiodącego zera
* Użyj ``%#I`` na Windows do usunięcia wiodącego zera

In [25]:
DATA = '"July 21st, 1969 2:56:15 AM UTC"'

data = datetime.strptime(DATA, '"%B %dst, %Y %I:%M:%S %p UTC"')
data

datetime.datetime(1969, 7, 21, 2, 56, 15)

## Datetime Parse Logs

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zapisz dane wejściowe do pliku ``apollo11-timeline.log``
1. Wyciągnij obiekt ``datetime``, poziom logowania oraz wiadomość z każdej linii
1. Zbierz dane do ``result: List[dict]``
1. Wyświetl ``result``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Źródło:
* Apollo 11 timeline https://history.nasa.gov/SP-4029/Apollo_11i_Timeline.htm

Output:
```python
result: List[dict] = [

     {'date': datetime.datetime(1969, 7, 14, 21, 0),
      'level': 'INFO',
      'message': 'Terminal countdown started'},

     {'date': datetime.datetime(1969, 7, 16, 13, 31, 53),
      'level': 'WARNING',
      'message': 'S-IC engine ignition (#5)'},

     {'date': datetime.datetime(1969, 7, 16, 13, 33, 23),
      'level': 'DEBUG',
      'message': 'Maximum dynamic pressure (735.17 lb/ft^2)'},

...]
```

In [26]:
DATA = """
    1969-07-14, 21:00:00, INFO, Terminal countdown started
    1969-07-16, 13:31:53, WARNING, S-IC engine ignition (#5)
    1969-07-16, 13:33:23, DEBUG, Maximum dynamic pressure (735.17 lb/ft^2)
    1969-07-16, 13:34:44, WARNING, S-II ignition
    1969-07-16, 13:35:17, DEBUG, Launch escape tower jettisoned
    1969-07-16, 13:39:40, DEBUG, S-II center engine cutoff
    1969-07-16, 16:22:13, INFO, Translunar injection
    1969-07-16, 16:56:03, INFO, CSM docked with LM/S-IVB
    1969-07-16, 17:21:50, INFO, Lunar orbit insertion ignition
    1969-07-16, 21:43:36, INFO, Lunar orbit circularization ignition
    1969-07-20, 17:44:00, INFO, CSM/LM undocked
    1969-07-20, 20:05:05, WARNING, LM powered descent engine ignition
    1969-07-20, 20:10:22, ERROR, LM 1202 alarm
    1969-07-20, 20:14:18, ERROR, LM 1201 alarm
    1969-07-20, 20:17:39, WARNING, LM lunar landing
    1969-07-21, 02:39:33, DEBUG, EVA started (hatch open)
    1969-07-21, 02:56:15, WARNING, 1st step taken lunar surface (CDR)
    1969-07-21, 02:56:15, WARNING, That's one small step for [a] man... one giant leap for mankind
    1969-07-21, 03:05:58, DEBUG, Contingency sample collection started (CDR)
    1969-07-21, 03:15:16, INFO, LMP on lunar surface
    1969-07-21, 05:11:13, DEBUG, EVA ended (hatch closed)
    1969-07-21, 17:54:00, WARNING, LM lunar liftoff ignition (LM APS)
    1969-07-21, 21:35:00, INFO, CSM/LM docked
    1969-07-22, 04:55:42, WARNING, Transearth injection ignition (SPS)
    1969-07-24, 16:21:12, INFO, CM/SM separation
    1969-07-24, 16:35:05, WARNING, Entry
    1969-07-24, 16:50:35, WARNING, Splashdown (went to apex-down)
    1969-07-24, 17:29, INFO, Crew egress
"""

In [40]:
result = []

for line in DATA.splitlines():
    line = line.strip()
    
    if len(line) == 0:
        continue

    d, t, lvl, msg = line.split(', ', maxsplit=3)

    d = datetime.strptime(d, '%Y-%m-%d').date()
    
    try:
        t = datetime.strptime(t, '%H:%M:%S').time()
    except ValueError:
        t = datetime.strptime(t, '%H:%M').time()
        
    result.append({
        'datetime': datetime.combine(d, t),
        'level': lvl,
        'message': msg,
    })
    
result

[{'datetime': datetime.datetime(1969, 7, 14, 21, 0),
  'level': 'INFO',
  'message': 'Terminal countdown started'},
 {'datetime': datetime.datetime(1969, 7, 16, 13, 31, 53),
  'level': 'WARNING',
  'message': 'S-IC engine ignition (#5)'},
 {'datetime': datetime.datetime(1969, 7, 16, 13, 33, 23),
  'level': 'DEBUG',
  'message': 'Maximum dynamic pressure (735.17 lb/ft^2)'},
 {'datetime': datetime.datetime(1969, 7, 16, 13, 34, 44),
  'level': 'WARNING',
  'message': 'S-II ignition'},
 {'datetime': datetime.datetime(1969, 7, 16, 13, 35, 17),
  'level': 'DEBUG',
  'message': 'Launch escape tower jettisoned'},
 {'datetime': datetime.datetime(1969, 7, 16, 13, 39, 40),
  'level': 'DEBUG',
  'message': 'S-II center engine cutoff'},
 {'datetime': datetime.datetime(1969, 7, 16, 16, 22, 13),
  'level': 'INFO',
  'message': 'Translunar injection'},
 {'datetime': datetime.datetime(1969, 7, 16, 16, 56, 3),
  'level': 'INFO',
  'message': 'CSM docked with LM/S-IVB'},
 {'datetime': datetime.datetime(1969, 7, 16, 17, 21, 50),
  'level': 'INFO',
  'message': 'Lunar orbit insertion ignition'},
 {'datetime': datetime.datetime(1969, 7, 16, 21, 43, 36),
  'level': 'INFO',
  'message': 'Lunar orbit circularization ignition'},
 {'datetime': datetime.datetime(1969, 7, 20, 17, 44),
  'level': 'INFO',
  'message': 'CSM/LM undocked'},
 {'datetime': datetime.datetime(1969, 7, 20, 20, 5, 5),
  'level': 'WARNING',
  'message': 'LM powered descent engine ignition'},
 {'datetime': datetime.datetime(1969, 7, 20, 20, 10, 22),
  'level': 'ERROR',
  'message': 'LM 1202 alarm'},
 {'datetime': datetime.datetime(1969, 7, 20, 20, 14, 18),
  'level': 'ERROR',
  'message': 'LM 1201 alarm'},
 {'datetime': datetime.datetime(1969, 7, 20, 20, 17, 39),
  'level': 'WARNING',
  'message': 'LM lunar landing'},
 {'datetime': datetime.datetime(1969, 7, 21, 2, 39, 33),
  'level': 'DEBUG',
  'message': 'EVA started (hatch open)'},
 {'datetime': datetime.datetime(1969, 7, 21, 2, 56, 15),
  'level': 'WARNING',
  'message': '1st step taken lunar surface (CDR)'},
 {'datetime': datetime.datetime(1969, 7, 21, 2, 56, 15),
  'level': 'WARNING',
  'message': "That's one small step for [a] man... one giant leap for mankind"},
 {'datetime': datetime.datetime(1969, 7, 21, 3, 5, 58),
  'level': 'DEBUG',
  'message': 'Contingency sample collection started (CDR)'},
 {'datetime': datetime.datetime(1969, 7, 21, 3, 15, 16),
  'level': 'INFO',
  'message': 'LMP on lunar surface'},
 {'datetime': datetime.datetime(1969, 7, 21, 5, 11, 13),
  'level': 'DEBUG',
  'message': 'EVA ended (hatch closed)'},
 {'datetime': datetime.datetime(1969, 7, 21, 17, 54),
  'level': 'WARNING',
  'message': 'LM lunar liftoff ignition (LM APS)'},
 {'datetime': datetime.datetime(1969, 7, 21, 21, 35),
  'level': 'INFO',
  'message': 'CSM/LM docked'},
 {'datetime': datetime.datetime(1969, 7, 22, 4, 55, 42),
  'level': 'WARNING',
  'message': 'Transearth injection ignition (SPS)'},
 {'datetime': datetime.datetime(1969, 7, 24, 16, 21, 12),
  'level': 'INFO',
  'message': 'CM/SM separation'},
 {'datetime': datetime.datetime(1969, 7, 24, 16, 35, 5),
  'level': 'WARNING',
  'message': 'Entry'},
 {'datetime': datetime.datetime(1969, 7, 24, 16, 50, 35),
  'level': 'WARNING',
  'message': 'Splashdown (went to apex-down)'},
 {'datetime': datetime.datetime(1969, 7, 24, 17, 29),
  'level': 'INFO',
  'message': 'Crew egress'}]

## Datetime Timedelta Period

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Podany jest czas, który upłynął między startem Gagarina a pierwszym krokiem Armstronga na Księżycu
1. Uwzględnij założenie:

    * rok = 365.2425 dni
    * miesiąc = 30.436875 dni

1. Od obecnej chwili odejmij ten czas
1. Wyświetl wyliczoną datę
1. Ile miałeś wtedy lat?

Input:
* 8 years
* 3 months
* 8 days
* 20 hours
* 49 minutes
* 15 seconds

In [88]:
SECOND = 1
MINUTE = 60 * SECOND
HOUR = 60 * MINUTE
DAY = 24 * HOUR
YEAR = 365.2425 * DAY
MONTH = 30.436875 * DAY

period = timedelta(
    days = 8*YEAR/DAY + 3*MONTH/DAY + 8*DAY/DAY,
    hours = 20,
    minutes = 49,
    seconds = 15)

bday = datetime(2000, 1, 1, 0, 0, 0)
today = datetime.now()
duration = today - period - bday


years, seconds = divmod(duration.total_seconds(), YEAR)
months, seconds = divmod(seconds, MONTH)
days, seconds = divmod(seconds, DAY)
hours, seconds = divmod(duration.seconds, HOUR)
minutes, seconds = divmod(seconds, MINUTE)

duration = {
    'years': int(years),
    'months': int(months),
    'days': int(days),
    'hours': int(hours),
    'minutes': int(minutes),
    'seconds': int(seconds),
}

duration

{'years': 12,
 'months': 4,
 'days': 25,
 'hours': 12,
 'minutes': 20,
 'seconds': 59}

## Datetime Timestamp Limits

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Przekonwertuj podane daty do obiektów ``datetime``
1. Wypisz timestamp każdej daty
1. Co to za daty?

In [116]:
a = '1902-12-13 20:45:53 UTC' # timestamp -max(int32)
b = '1970-01-01 00:00:00 UTC' # timestamp 0
c = '2038-01-19 03:14:07 UTC' # timestamp +max(int32)

datetime.strptime(a, '%Y-%m-%d %H:%M:%S %Z')
datetime.strptime(b, '%Y-%m-%d %H:%M:%S %Z')
datetime.strptime(c, '%Y-%m-%d %H:%M:%S %Z') + timedelta(days=2222222)


datetime(9999, 12, 31, 23, 59, 59, 99999) + timedelta(seconds=1)

OverflowError: date value out of range

## Datetime Timezone Convert

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Przekonwertuj podaną datę do obiektu ``datetime``
1. Wyświetl datę jaka była w:

    * London, Wielka Brytania
    * Moscow, Rosja
    * Warsaw, Polska
    * Tokyo, Japan
    * Sydney, Australia
    * Auckland, Nowa Zelandia

1. Dla chętnych:
    
    * Kosmodrom Bajkonur, Kazachstan
    * Cape Canaveral, FL, USA
    * Houston, TX, USA
    * New York, USA
    * South Pole
    * North Pole

In [124]:
DATA = '1969-07-21 02:56:15 UTC'

from pytz import timezone

In [143]:
dt = datetime.strptime(DATA, '%Y-%m-%d %H:%M:%S %Z').replace(tzinfo=timezone('utc'))

dt.astimezone(timezone('Europe/London'))
dt.astimezone(timezone('Europe/Moscow'))
dt.astimezone(timezone('Europe/Warsaw'))
dt.astimezone(timezone('Asia/Tokyo'))
dt.astimezone(timezone('Australia/Sydney'))
dt.astimezone(timezone('Pacific/Auckland'))

dt.astimezone(timezone('Asia/Almaty'))
dt.astimezone(timezone('US/Eastern'))
dt.astimezone(timezone('US/Central'))
dt.astimezone(timezone('America/New_York'))

dt.astimezone(timezone('Antarctica/South_Pole'))
dt.astimezone(timezone('Arctic/Longyearbyen'))

datetime.datetime(1969, 7, 21, 3, 56, 15, tzinfo=<DstTzInfo 'Arctic/Longyearbyen' CET+1:00:00 STD>)