# Python Biblioteka Standardowa - bazy danych - lekcja

In [2]:
SQL_CREATE_TABLE = """
    CREATE TABLE IF NOT EXISTS astronauts (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        created DATETIME NOT NULL DEFAULT (datetime('now', 'utc')),
        pesel INTEGER UNIQUE,
        firstname TEXT,
        lastname TEXT,
        agency TEXT)"""

SQL_INSERT_LISTDICT = """
    INSERT INTO astronauts (pesel, firstname, lastname, agency)
    VALUES (:pesel, :firstname, :lastname, :agency)"""

SQL_INSERT_LISTTUPLE = """
    INSERT INTO astronauts (pesel, firstname, lastname, agency)
    VALUES (?, ?, ?, ?)"""

SQL_SELECT = 'SELECT * FROM astronauts'


DATA_LISTTUPLE = [
    (61041200001, 'José', 'Jiménez', 'NASA'),
    (61041200002, 'Jan', 'Twardowski', 'POLSA'),
    (61041200003, 'Ivan', 'Ivanovich', 'Roscosmos'),
    (61041200004, 'Max', 'Peck', 'NASA'),
    (61041200005, 'Melissa', 'Lewis', 'NASA'),
    (61041200006, 'Alex', 'Vogel', 'NASA'),
    (61041200007, 'Mark', 'Watney', 'NASA'),
    (61041200008, 'Rick', 'Martinez', 'NASA'),
    (61041200009, 'Beth', 'Johanssen', 'NASA'),
    (61041200010, 'Chris', 'Beck', 'NASA'),
    (61041200011, 'Matt', 'Kowalsky', 'NASA'),
    (61041200012, 'Ryan', 'Stone', 'NASA'),
    (61041200013, 'Robert', 'Foucault', 'IMSF'),
    (61041200014, 'Javier', 'Delgado', 'IMSF'),
    (61041200015, 'Amelie', 'Durand', 'IMSF'),
    (61041200016, 'Hana', 'Seung', 'IMSF'),
    (61041200017, 'Ben', 'Sawyer', 'IMSF'),
    (61041200018, 'Marta', 'Kamen', 'IMSF'),
]

DATA_LISTDICT = [
    {'pesel': 61041200001, 'firstname': 'José', 'lastname': 'Jiménez', 'agency': 'NASA'},
    {'pesel': 61041200002, 'firstname': 'Jan', 'lastname': 'Twardowski', 'agency': 'POLSA'},
    {'pesel': 61041200003, 'firstname': 'Ivan', 'lastname': 'Ivanovich', 'agency': 'Roscosmos'},
    {'pesel': 61041200004, 'firstname': 'Max', 'lastname': 'Peck', 'agency': 'NASA'},
    {'pesel': 61041200005, 'firstname': 'Melissa', 'lastname': 'Lewis', 'agency': 'NASA'},
    {'pesel': 61041200006, 'firstname': 'Alex', 'lastname': 'Vogel', 'agency': 'NASA'},
    {'pesel': 61041200007, 'firstname': 'Mark', 'lastname': 'Watney', 'agency': 'NASA'},
    {'pesel': 61041200008, 'firstname': 'Rick', 'lastname': 'Martinez', 'agency': 'NASA'},
    {'pesel': 61041200009, 'firstname': 'Beth', 'lastname': 'Johanssen', 'agency': 'NASA'},
    {'pesel': 61041200010, 'firstname': 'Chris', 'lastname': 'Beck', 'agency': 'NASA'},
    {'pesel': 61041200011, 'firstname': 'Matt', 'lastname': 'Kowalsky', 'agency': 'NASA'},
    {'pesel': 61041200012, 'firstname': 'Ryan', 'lastname': 'Stone', 'agency': 'NASA'},
    {'pesel': 61041200013, 'firstname': 'Robert', 'lastname': 'Foucault', 'agency': 'IMSF'},
    {'pesel': 61041200014, 'firstname': 'Javier', 'lastname': 'Delgado', 'agency': 'IMSF'},
    {'pesel': 61041200015, 'firstname': 'Amelie', 'lastname': 'Durand', 'agency': 'IMSF'},
    {'pesel': 61041200016, 'firstname': 'Hana', 'lastname': 'Seung', 'agency': 'IMSF'},
    {'pesel': 61041200017, 'firstname': 'Ben', 'lastname': 'Sawyer', 'agency': 'IMSF'},
    {'pesel': 61041200018, 'firstname': 'Marta', 'lastname': 'Kamen', 'agency': 'IMSF'},
]

## Python DB API

* ``connect()``
* ``cursor()``
* ``execute()``
* ``executemany()``
* ``fetchone()``
* ``fetchmany(size=cursor.arraysize)``
* ``fetchall()``
* ``commit()``
* ``rollback()``
* ``close()``

## SQLite 3

* Typy danych:

    * ``INTEGER`` - `int`
    * ``REAL`` - `float`
    * ``TEXT`` - `str`
    * ``BLOB`` - `bytes`
    * ``NULL`` - `None`
    
* Więzy:

    * ``NOT NULL``
    * ``UNIQUE``
    * ``PRIMARY KEY``
    * ``FOREIGN KEY``
    * ``DEFAULT``
    * ``INDEX``
    
* Wyjątki:

    * ``sqlite3.Warning``
    * ``sqlite3.Error``
    * ``sqlite3.IntegrityError`` - np. błąd więzów
    * ``sqlite3.ProgrammingError`` - np. błąd składniowy w SQL lub brak tabeli
    * ``sqlite3.OperationalError`` - np. nieoczekiwane rozłączenie z bazą
    * ``sqlite3.NotSupportedError`` - np. gdy wywołano rollback a połączenie ma wyłączone transakcje
    
* Połączenie do ``FILE`` lub ``:memory:``
* Wyniki jako słowniki

* ``iterdump()`` - podobne do `.dump`
* ``backup(target, *, pages=0, progress=None, name="main", sleep=0.250)`` - nawet w trakcie połączenia

In [1]:
import sqlite3

In [7]:
DATABASE = r':memory:'

with sqlite3.connect(DATABASE) as db:
    db.execute(SQL_CREATE_TABLE)
    db.executemany(SQL_INSERT_LISTDICT, DATA_LISTDICT)
    
    db.row_factory = sqlite3.Row
    
    for row in db.execute(SQL_SELECT):
        print(dict(row))

{'id': 1, 'created': '2020-08-03 00:06:34', 'pesel': 61041200001, 'firstname': 'José', 'lastname': 'Jiménez', 'agency': 'NASA'}
{'id': 2, 'created': '2020-08-03 00:06:34', 'pesel': 61041200002, 'firstname': 'Jan', 'lastname': 'Twardowski', 'agency': 'POLSA'}
{'id': 3, 'created': '2020-08-03 00:06:34', 'pesel': 61041200003, 'firstname': 'Ivan', 'lastname': 'Ivanovich', 'agency': 'Roscosmos'}
{'id': 4, 'created': '2020-08-03 00:06:34', 'pesel': 61041200004, 'firstname': 'Max', 'lastname': 'Peck', 'agency': 'NASA'}
{'id': 5, 'created': '2020-08-03 00:06:34', 'pesel': 61041200005, 'firstname': 'Melissa', 'lastname': 'Lewis', 'agency': 'NASA'}
{'id': 6, 'created': '2020-08-03 00:06:34', 'pesel': 61041200006, 'firstname': 'Alex', 'lastname': 'Vogel', 'agency': 'NASA'}
{'id': 7, 'created': '2020-08-03 00:06:34', 'pesel': 61041200007, 'firstname': 'Mark', 'lastname': 'Watney', 'agency': 'NASA'}
{'id': 8, 'created': '2020-08-03 00:06:34', 'pesel': 61041200008, 'firstname': 'Rick', 'lastname': 'Martinez', 'agency': 'NASA'}
{'id': 9, 'created': '2020-08-03 00:06:34', 'pesel': 61041200009, 'firstname': 'Beth', 'lastname': 'Johanssen', 'agency': 'NASA'}
{'id': 10, 'created': '2020-08-03 00:06:34', 'pesel': 61041200010, 'firstname': 'Chris', 'lastname': 'Beck', 'agency': 'NASA'}
{'id': 11, 'created': '2020-08-03 00:06:34', 'pesel': 61041200011, 'firstname': 'Matt', 'lastname': 'Kowalsky', 'agency': 'NASA'}
{'id': 12, 'created': '2020-08-03 00:06:34', 'pesel': 61041200012, 'firstname': 'Ryan', 'lastname': 'Stone', 'agency': 'NASA'}
{'id': 13, 'created': '2020-08-03 00:06:34', 'pesel': 61041200013, 'firstname': 'Robert', 'lastname': 'Foucault', 'agency': 'IMSF'}
{'id': 14, 'created': '2020-08-03 00:06:34', 'pesel': 61041200014, 'firstname': 'Javier', 'lastname': 'Delgado', 'agency': 'IMSF'}
{'id': 15, 'created': '2020-08-03 00:06:34', 'pesel': 61041200015, 'firstname': 'Amelie', 'lastname': 'Durand', 'agency': 'IMSF'}
{'id': 16, 'created': '2020-08-03 00:06:34', 'pesel': 61041200016, 'firstname': 'Hana', 'lastname': 'Seung', 'agency': 'IMSF'}
{'id': 17, 'created': '2020-08-03 00:06:34', 'pesel': 61041200017, 'firstname': 'Ben', 'lastname': 'Sawyer', 'agency': 'IMSF'}
{'id': 18, 'created': '2020-08-03 00:06:34', 'pesel': 61041200018, 'firstname': 'Marta', 'lastname': 'Kamen', 'agency': 'IMSF'}

In [37]:
DATABASE = r'db.sqlite3'

with sqlite3.connect(DATABASE) as db:
    db.execute(SQL_CREATE_TABLE)
    
    
    try:
        db.executemany(SQL_INSERT_LISTDICT, DATA_LISTDICT)
    except sqlite3.IntegrityError:
        pass
    
    db.row_factory = sqlite3.Row
    
    
#     SQL_SELECT = """
#         SELECT id, firstname as fname, lastname as lname, agency
#         FROM astronauts
#         WHERE agency IN (
#             SELECT agency
#             FROM astronauts
#             GROUP BY agency
#             HAVING count(*) < 5
#         )
#     """

    SQL_SELECT = """
    SELECT agency
            FROM astronauts
            GROUP BY agency
            HAVING count(*) < 5"""
    
    for row in db.execute(SQL_SELECT):
        print(dict(row))

{'agency': 'POLSA'}
{'agency': 'Roscosmos'}

In [40]:
DATABASE = r':memory:'

with sqlite3.connect(DATABASE) as db:
    db.execute(SQL_CREATE_TABLE)
    db.executemany(SQL_INSERT_LISTDICT, DATA_LISTDICT)
    db.row_factory = sqlite3.Row
    cursor = db.cursor()
    
    for row in cursor.execute(SQL_SELECT):
        print(dict(row))

{'agency': 'POLSA'}
{'agency': 'Roscosmos'}

## SQL

* klauzula projekcji ``SELECT``
* klauzula selekcji ``WHERE``
* distinct ``DISTINCT``
* zliczanie ``COUNT()``
* aliasy ``as``
* sortowanie ``ORDER BY``
* limitowanie ``LIMIT``
* podzapytania ``IN``
* grupowanie ``GROUP BY``
* heaving ``HAVING``