# Python Biblioteka Standardowa - bazy danych - zadania

## Database SQLite Iris

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zapisz dane wejściowe do pliku ``database-sqlite-iris.csv``
1. Wczytaj dane z pliku (nie używaj biblioteki ``csv`` lub ``pandas``)
1. Połącz się do bazy danych ``sqlite3`` używając context managera (``with``)
1. Stwórz tabelę ``iris`` o kolumnach podanych w sekcji "Input" (patrz poniżej)
1. Podmień ``int`` na ``str`` zgodnie z tabelą podstawień ``SPECIES`` (patrz dane wejściowe)
1. Zapisz dane do tabeli w bazie danych
1. Wypisz wyniki z bazy danych ``SELECT * FROM iris ORDER BY datetime DESC``


Input:
```text
4.3,3.0,1.1,0.1,0
5.8,4.0,1.2,0.2,0
5.7,4.4,1.5,0.4,1
5.4,3.9,1.3,0.4,2
5.1,3.5,1.4,0.3,1
5.7,3.8,1.7,0.3,0
5.1,3.8,1.5,0.3,0
5.4,3.4,1.7,0.2,1
5.1,3.7,1.5,0.4,0
4.6,3.6,1.0,0.2,0
5.1,3.3,1.7,0.5,2
4.8,3.4,1.9,0.2,0
5.0,3.0,1.6,0.2,1
5.0,3.4,1.6,0.4,2
5.2,3.5,1.5,0.2,1
5.2,3.4,1.4,0.2,2
4.7,3.2,1.6,0.2,0
```

```python
SPECIES = {
    0: 'setosa',
    1: 'versicolor',
    2: 'virginica',
}
````

```sql
CREATE TABLE IF NOT EXISTS iris (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    species TEXT,
    datetime DATETIME,
    sepal_length REAL,
    sepal_width REAL,
    petal_length REAL,
    petal_width REAL
);
```

```sql
INSERT INTO iris VALUES (
    NULL,
    :species,
    :datetime,
    :sepal_length,
    :sepal_width,
    :petal_length,
    :petal_width
);
```

```sql
SELECT * FROM iris ORDER BY datetime DESC
```

## Database SQLite Relations

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Stwórz bazę danych na podstawie danych wejściowych
1. Dodaj obsługę dla wielu adresów
1. Zapisz dane do bazy
1. Wypisz dane z bazy wykorzystując relację JOIN

Input:
```text
José, Jiménez
    2101 E NASA Pkwy, 77058, Houston, Texas, USA
    , Kennedy Space Center, 32899, Florida, USA

Mark, Watney
    4800 Oak Grove Dr, 91109, Pasadena, California, USA
    2825 E Ave P, 93550, Palmdale, California, USA

Иван, Иванович
    Kosmodrom Bajkonur, Bajkonur, Kazachstan

Melissa Lewis,
    <NO ADDRESS>

Alex Vogel
    Linder Hoehe, 51147, Köln, Germany
```

```sql
CREATE TABLE IF NOT EXISTS contact (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    created DATETIME,
    modified DATETIME,
    first_name TEXT,
    last_name TEXT,
    date_of_birth DATE
);

CREATE UNIQUE INDEX IF NOT EXISTS last_name_index ON contact (last_name);
CREATE INDEX IF NOT EXISTS modified_index ON contact (modified);

CREATE TABLE IF NOT EXISTS address (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    contact_id INTEGER,
    street TEXT,
    city TEXT,
    state TEXT,
    code INT,
    country TEXT
);

INSERT INTO contact VALUES (
    NULL,
    :created,
    :modified,
    :first_name,
    :last_name,
    :date_of_birth
);

INSERT INTO address VALUES (
    NULL,
    :contact_id
    :street,
    :city,
    :state,
    :code,
    :country
);

UPDATE contact SET
    first_name=:firstname,
    last_name=:lastname,
    modified=:modified
WHERE id=:id;

SELECT * FROM contact;
```

## Database SQLite Logs

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zapisz dane wejściowe do pliku ``apollo11-timeline.log``
1. Wyciągnij obiekt ``datetime``, poziom logowania oraz wiadomość z każdej linii
1. Zbierz dane do ``DATA: List[dict]`` (patrz sekcja input)
1. Stwórz schemat bazy danych dla logów
1. Dodaj wszystkie linie do bazy danych
1. Wybierz tylko logi ``WARNING`` z przedziału 1969-07-20 i 1969-07-21
1. Posortuj logi w kolejności datetime malejąco
1. Wyświetl ``result: List[dict]``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Źródło:
* Apollo 11 timeline https://history.nasa.gov/SP-4029/Apollo_11i_Timeline.htm

Output:
```python
result: List[dict] = [

    {'date': datetime.datetime(1969, 7, 21, 17, 54, 00, tzinfo=datetime.timezone.utc),
     'level': 'WARNING',
     'message': 'LM lunar liftoff ignition (LM APS)'},

    {'date': datetime.datetime(1969, 7, 21, 2, 56, 15, tzinfo=datetime.timezone.utc),
     'level': 'WARNING',
     'message': '1st step taken lunar surface (CDR) "That\'s one small step for [a] man... one giant leap for mankind"'},

    {'date': datetime.datetime(1969, 7, 20, 20, 17, 39, tzinfo=datetime.timezone.utc),
     'level': 'WARNING',
     'message': 'LM lunar landing'},

...]
```

In [ ]:
DATA = """
    1969-07-14T21:00:00 [INFO] Terminal countdown started
    1969-07-16T13:31:53 [WARNING] S-IC engine ignition (#5)
    1969-07-16T13:33:23 [DEBUG] Maximum dynamic pressure (735.17 lb/ft^2)
    1969-07-16T13:34:44 [WARNING] S-II ignition
    1969-07-16T13:35:17 [DEBUG] Launch escape tower jettisoned
    1969-07-16T13:39:40 [DEBUG] S-II center engine cutoff
    1969-07-16T16:22:13 [INFO] Translunar injection
    1969-07-16T16:56:03 [INFO] CSM docked with LM/S-IVB
    1969-07-16T17:21:50 [INFO] Lunar orbit insertion ignition
    1969-07-16T21:43:36 [INFO] Lunar orbit circularization ignition
    1969-07-20T17:44:00 [INFO] CSM/LM undocked
    1969-07-20T20:05:05 [WARNING] LM powered descent engine ignition
    1969-07-20T20:10:22 [ERROR] LM 1202 alarm
    1969-07-20T20:14:18 [ERROR] LM 1201 alarm
    1969-07-20T20:17:39 [WARNING] LM lunar landing
    1969-07-21T02:39:33 [DEBUG] EVA started (hatch open)
    1969-07-21T02:56:15 [WARNING] 1st step taken lunar surface (CDR) "That's one small step for [a] man... one giant leap for mankind"
    1969-07-21T03:05:58 [DEBUG] Contingency sample collection started (CDR)
    1969-07-21T03:15:16 [INFO] LMP on lunar surface
    1969-07-21T05:11:13 [DEBUG] EVA ended (hatch closed)
    1969-07-21T17:54:00 [WARNING] LM lunar liftoff ignition (LM APS)
    1969-07-21T21:35:00 [INFO] CSM/LM docked
    1969-07-22T04:55:42 [WARNING] Transearth injection ignition (SPS)
    1969-07-24T16:21:12 [INFO] CM/SM separation
    1969-07-24T16:35:05 [WARNING] Entry
    1969-07-24T16:50:35 [WARNING] Splashdown (went to apex-down)
    1969-07-24T17:29 [INFO] Crew egress
"""