# Pandas - series - zadania

In [3]:
import pandas as pd
import numpy as np

## Series Create Float

1. Stwórz ``pd.Series`` z 5 liczbami zmiennoprzecinkowymi
1. Jedną z tych wartości musi być ``None``

In [2]:
pd.Series([1.1, 2.2, 3.3, 4.4, None])

0    1.1
1    2.2
2    3.3
3    4.4
4    NaN
dtype: float64

## Series Create Randint

1. Ustaw ziarno losowości na zero
1. Stwórz ``pd.Series`` z 10 losowymi cyframi  (``int`` from ``0`` to ``9``)

In [6]:
np.random.seed(0)
pd.Series(np.random.randint(0,10, size=10))

0    5
1    0
2    3
3    3
4    7
5    9
6    3
7    5
8    2
9    4
dtype: int64

## Series Create Even

1. Stwórz ``pd.Series`` z 10 liczbami parzystymi

In [14]:
pd.Series(np.arange(0,20,2))

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

## Series Create Dates

1. Gagarin poleciał w kosmos w 1961-04-12
1. Armstrong postawił stopę na Księżycu w 1969-07-21
1. Stwórz ``pd.Series`` z dniami pomiędzy startem Gagarina a pierwszym krokiem Armstronga
1. Jak wiele dni upłynęło?

In [17]:
s = pd.Series(pd.date_range('1961-04-12', '1969-07-21', freq='D'))

In [18]:
len(s)

3023