# Pandas - series - przekształcenia - zadania

In [2]:
import pandas as pd
import numpy as np

## Series Sample

1. Ustaw ziarno losowości na zero
1. Stwórz ``pd.Series`` z 100 losowymi liczbami z rozkładu normalnego
1. Indeksem w serii mają być kolejne dni od 2000 roku
1. Wypisz wartości:

    * pierwszy w serii,
    * ostatnie 5 elementów w serii,
    * dwa pierwsze tygodnie w serii,
    * ostatni miesiąc w serii,
    * trzy losowe element,
    * 125% losowych elementów z powtórzeniami.

Podpowiedź:
    * ``np.random.seed(0)``
    * ``np.random.randn(n)``

In [6]:
np.random.seed(0)

s = pd.Series(
    data = np.random.randn(100),
    index = pd.date_range('2000-01-01', freq='D', periods=100))

In [8]:
s.head(1)

2000-01-01    1.764052
Freq: D, dtype: float64

In [9]:
s.tail(n=5)

2000-04-05    0.706573
2000-04-06    0.010500
2000-04-07    1.785870
2000-04-08    0.126912
2000-04-09    0.401989
Freq: D, dtype: float64

In [10]:
s.first('2W')

2000-01-01    1.764052
2000-01-02    0.400157
2000-01-03    0.978738
2000-01-04    2.240893
2000-01-05    1.867558
2000-01-06   -0.977278
2000-01-07    0.950088
2000-01-08   -0.151357
2000-01-09   -0.103219
Freq: D, dtype: float64

In [11]:
s.last('1M')

2000-04-01    1.222445
2000-04-02    0.208275
2000-04-03    0.976639
2000-04-04    0.356366
2000-04-05    0.706573
2000-04-06    0.010500
2000-04-07    1.785870
2000-04-08    0.126912
2000-04-09    0.401989
Freq: D, dtype: float64

In [12]:
s.sample(n=3)

2000-01-20   -0.854096
2000-01-07    0.950088
2000-02-15   -0.438074
dtype: float64

In [13]:
s.sample(frac=1.25, replace=True)

2000-03-07   -1.630198
2000-04-01    1.222445
2000-03-26    1.895889
2000-02-09   -0.302303
2000-02-09   -0.302303
                ...
2000-01-08   -0.151357
2000-03-21   -1.165150
2000-01-23    0.864436
2000-03-20    0.056165
2000-03-30    1.054452
Length: 125, dtype: float64

## Series Getitem

1. Ustaw ziarno losowości na zero
1. Stwórz ``pd.Series`` z 100 losowymi liczbami z rozkładu normalnego
1. Indeksem w serii mają być kolejne dni od 2000 roku
1. Wypisz wartości:

    * dnia 2000-02-29,
    * pierwszą wartość w serii (nie używając ``.head()``),
    * ostatnią wartość w serii (nie używając ``.tail()``),
    * środkowa wartość serii.

Podpowiedź:
    * ``np.random.seed(0)``
    * ``np.random.randn(10)``

In [ ]:
np.random.seed(0)

s = pd.Series(
    data = np.random.randn(100),
    index = pd.date_range('2000-01-01', freq='D', periods=100))

In [14]:
s['2000-02-29']

-0.3627411659871381

In [15]:
s[0]

1.764052345967664

In [16]:
s[-1]

0.40198936344470165

In [19]:
middle = int(len(s) / 2)

In [20]:
s[middle]

-0.8954665611936756

## Series Slice Datetime

1. Ustaw ziarno losowości na zero
1. Stwórz ``pd.Series`` z 100 losowymi liczbami z rozkładu normalnego
1. Indeksem w serii mają być kolejne dni od 2000 roku
1. Wytnij daty od 2000-02-14 do końca lutego 2000
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Oczekiwany wynik:
```python
s: pd.Series
# 2000-02-14   -0.509652
# 2000-02-15   -0.438074
# 2000-02-16   -1.252795
# 2000-02-17    0.777490
# 2000-02-18   -1.613898
# 2000-02-19   -0.212740
# 2000-02-20   -0.895467
# 2000-02-21    0.386902
# 2000-02-22   -0.510805
# 2000-02-23   -1.180632
# 2000-02-24   -0.028182
# 2000-02-25    0.428332
# 2000-02-26    0.066517
# 2000-02-27    0.302472
# 2000-02-28   -0.634322
# 2000-02-29   -0.362741
# Freq: D, dtype: float64
```

Podpowiedź:
    * ``np.random.seed(0)``
    * ``np.random.randn(10)``

In [21]:
np.random.seed(0)

s = pd.Series(
    data = np.random.randn(100),
    index = pd.date_range('2000-01-01', freq='D', periods=100))

s['2000-02-14':'2000-02']

2000-02-14   -0.509652
2000-02-15   -0.438074
2000-02-16   -1.252795
2000-02-17    0.777490
2000-02-18   -1.613898
2000-02-19   -0.212740
2000-02-20   -0.895467
2000-02-21    0.386902
2000-02-22   -0.510805
2000-02-23   -1.180632
2000-02-24   -0.028182
2000-02-25    0.428332
2000-02-26    0.066517
2000-02-27    0.302472
2000-02-28   -0.634322
2000-02-29   -0.362741
Freq: D, dtype: float64

## Slicing Slice Str

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Stwórz ``pd.Series`` z 26 losowymi liczbami całkowitymi z przedziału ``<10; 100)``
1. Nazwij indeksy jak kolejne litery alfabetu ASCII (``ascii_lowercase: str``)
1. Znajdź środkową literę alfabetu
1. Wytnij z serii po 3 elementy w górę i w dół od wyszukanego środka
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Oczekiwany wynik:
```python
s: pd.Series
# j    97
# k    80
# l    98
# m    98
# n    22
# o    68
# p    75
# dtype: int64
```

Podpowiedź:
* ``np.random.randint(..., ..., size=...)``

In [27]:
ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'

In [45]:
np.random.seed(0)

s = pd.Series(
    data = np.random.randint(10, 100, size=26),
    index = list(ascii_lowercase))

middle = int(len(ascii_lowercase) / 2)

# pd.concat((
#     s[middle-3:middle],
#     s[middle:middle+4],
# ))

s[middle-3:middle+4]

k    80
l    98
m    98
n    22
o    68
p    75
q    49
dtype: int64

## Series NA

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Z danych wejściowych stwórz ``pd.Series``
1. Wypełnij pierwszą brakującą wartość zerem
1. Usuń brakujące wartości
1. Zresetuj indeks (bez kopii starego)
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Oczekiwany wynik:
```
s: pd.Series
# 0    1.0
# 1    0.0
# 2    5.0
# 3    1.0
# 4    2.0
# 5    1.0
# dtype: float64
```

In [53]:
DATA = [1, None, 5, None, 1, 2, 1]

s = pd.Series(DATA)
s.fillna(0, limit=1, inplace=True)
s.dropna(inplace=True)
s.reset_index(drop=True)

0    1.0
1    0.0
2    5.0
3    1.0
4    2.0
5    1.0
dtype: float64

In [54]:
DATA = [1, None, 5, None, 1, 2, 1]

s = (pd.Series(DATA)
        .fillna(0, limit=1)
        .dropna()
        .reset_index(drop=True))

s

0    1.0
1    0.0
2    5.0
3    1.0
4    2.0
5    1.0
dtype: float64

## Series Alter

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Z danych wejściowych stwórz ``pd.Series``
1. Usuń wartości na indeksach 2, 4, 6
1. Usuń duplikujące się wartości
1. Zresetuj indeks (bez kopii starego)
1. Wypisz serię

Oczekiwany wynik:
```python
s: pd.Series
# 0    1.0
# 1    NaN
# 2    2.0
# dtype: float64
```

In [55]:
DATA = [1, None, 5, None, 1, 2, 1]

In [56]:
s = (pd.Series(DATA)
         .drop([2,4,6])
         .drop_duplicates()
         .reset_index(drop=True))

s

0    1.0
1    NaN
2    2.0
dtype: float64

## Series Mapping Clean

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Przekonwertuj ``DATA`` (patrz sekcja input) do ``pd.Series``
1. Napisz funkcję czyszczącą dane
1. Funkcja przyjmuje jeden argument typu ``str``
1. Funkcja zwraca oczyszczony tekst
1. Zaaplikuj funkcję na wszystkich elementach ``pd.Series``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Oczekiwany wynik:
```python
s: pd.Series
# 0               Mieszka II
# 1        Zygmunta III Wazy
# 2      Bolesława Chrobrego
# 3     Jana III Sobieskiego
# 4     Jana III Sobieskiego
# 5     Jana III Sobieskiego
# 6     Jana III Sobieskiego
# 7     Jana III Sobieskiego
# 8     Jana III Sobieskiego
# 9     Jana III Sobieskiego
# 10    Jana III Sobieskiego
# dtype: object
```

In [65]:
DATA = [
    'ul.Mieszka II',
    'UL. Zygmunta III WaZY',
    '  bolesława chrobrego ',
    'ul Jana III SobIESkiego',
    '\tul. Jana trzeciego Sobieskiego',
    'ulicaJana III Sobieskiego',
    'UL. JA    NA 3 SOBIES  KIEGO',
    'ULICA JANA III SOBIESKIEGO  ',
    'ULICA. JANA III SOBIeskieGO',
    ' Jana 3 Sobieskiego  ',
    'Jana III Sobi  eskiego ',
]

def clean(text):
    text = text.strip()
    text = text.upper()
    text = text.replace('.', '')
    text = text.replace('\t', '')
    text = text.replace('    ', '')
    text = text.replace('   ', '')
    text = text.replace('  ', '')
    text = text.replace('ULICA', '')
    text = text.replace('UL', '')
    text = text.replace('TRZECIEGO', 'III')
    text = text.replace('3', 'III')
    text = text.title()
    text = text.replace('Iii', 'III')
    text = text.replace('Ii', 'II')
    return text


pd.Series(DATA).apply(clean)

0                Mieszka II
1         Zygmunta III Wazy
2       Bolesława Chrobrego
3      Jana III Sobieskiego
4      Jana III Sobieskiego
5      Jana III Sobieskiego
6      Jana III Sobieskiego
7      Jana III Sobieskiego
8      Jana III Sobieskiego
9      Jana III Sobieskiego
10     Jana III Sobieskiego
dtype: object

In [71]:
DATA = [
    'ul.Mieszka II',
    'UL. Zygmunta III WaZY',
    '  bolesława chrobrego ',
    'ul Jana III SobIESkiego',
    '\tul. Jana trzeciego Sobieskiego',
    'ulicaJana III Sobieskiego',
    'UL. JA    NA 3 SOBIES  KIEGO',
    'ULICA JANA III SOBIESKIEGO  ',
    'ULICA. JANA III SOBIeskieGO',
    ' Jana 3 Sobieskiego  ',
    'Jana III Sobi  eskiego ',
]

def clean(text):
    return (text
            .strip()
            .upper()
            .replace('.', '')
            .replace('\t', '')
            .replace('    ', '')
            .replace('   ', '')
            .replace('  ', '')
            .replace('ULICA', '')
            .replace('UL', '')
            .replace('TRZECIEGO', 'III')
            .replace('3', 'III')
            .title()
            .replace('Iii', 'III')
            .replace('Ii', 'II'))
    
    
pd.Series(DATA).apply(clean)

0                Mieszka II
1         Zygmunta III Wazy
2       Bolesława Chrobrego
3      Jana III Sobieskiego
4      Jana III Sobieskiego
5      Jana III Sobieskiego
6      Jana III Sobieskiego
7      Jana III Sobieskiego
8      Jana III Sobieskiego
9      Jana III Sobieskiego
10     Jana III Sobieskiego
dtype: object