# Pandas - DataFrame - tworzenie - zadania

In [1]:
import pandas as pd

## DataFrame Create

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Stwórz ``DataFrame`` dla danych wejściowych

Dane wejściowe:
```csv
"Crew", "Role", "Astronaut"
"Prime", "CDR", "Neil Armstrong"
"Prime", "LMP", "Buzz Aldrin"
"Prime", "CMP", "Michael Collins"
"Backup", "CDR", "James Lovell"
"Backup", "LMP", "William Anders"
"Backup", "CMP", "Fred Haise"
```

Podpowiedź:
* użyj zaznaczania z klawiszem ``alt``

In [4]:
pd.DataFrame([
    {"Crew": "Prime",  "Role": "CDR", "Astronaut": "Neil Armstrong"},
    {"Crew": "Prime",  "Role": "LMP", "Astronaut": "Buzz Aldrin"},
    {"Crew": "Prime",  "Role": "CMP", "Astronaut": "Michael Collins"},
    {"Crew": "Backup", "Role": "CDR", "Astronaut": "James Lovell"},
    {"Crew": "Backup", "Role": "LMP", "Astronaut": "William Anders"},
    {"Crew": "Backup", "Role": "CMP", "Astronaut": "Fred Haise"},
])

     Crew Role        Astronaut
0   Prime  CDR   Neil Armstrong
1   Prime  LMP      Buzz Aldrin
2   Prime  CMP  Michael Collins
3  Backup  CDR     James Lovell
4  Backup  LMP   William Anders
5  Backup  CMP       Fred Haise